{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Update {{budget_data.name}} Budget
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'budget_list' %}">Budgets</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        Update Budget
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                                <div class="card">
                                    <div class="card-header" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                                        <span class="lead collapse-title"><i class="bg-light-danger" data-feather="info"></i> Update Note</span>
                                    </div>
                                    <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna">
                                        <div class="card-body">
                                            If manual budget or auto budget have been used in any transaction, you can't update budget period and budget date.
                                            If manual budget or auto budget not have been used in any transactions, updated budget period and budget date will be apply on the current budget.
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br/>
                    <form class="form form-horizontal" action="{% url 'budget_update' pk=budget_data.id %}" method="post">
                        {% csrf_token %}
                        {% if errors %}
                            <p class="text-danger">{{errors}}</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Category Groups</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            <select name="categories" class="form-control pick_category" required="" id="id_categories">
                                                  <option value="">Select Category Group</option>
                                                  {% for category in categories %}
                                                    {% if budget_data.category.category.id == category.id %}
                                                      <option value="{{category.id}}" selected>{{category.name}}</option>
                                                    {% else %}
                                                      <option value="{{category.id}}">{{category.name}}</option>
                                                    {% endif %}
                                                  {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_cat_list">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Categories</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_sub_cat">
                                        <select class="form-control check_budget_category" id="subcategory" name="subcategory">
                                            <option value="" >Select Category</option>
                                            {% for sub_category in sub_categories %}
                                                {% if budget_data.category.name == sub_category.name %}
                                                  <option selected>{{sub_category.name}}</option>
                                                {% else %}
                                                  <option>{{sub_category.name}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Currency</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            <select name="currency" class="form-control" id="id_currency">
                                                {% for key, value in currency_dict.items %}
                                                  {% if budget_data.currency == key %}
                                                    <option value="{{key}}" selected>{{value}}</option>
                                                  {% else %}
                                                    <option value="{{key}}">{{value}}</option>
                                                  {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Budget Amount</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            {% if budget_update_period %}
                                            <input type="text" class="form-control" title="If manual budget or auto budget have been used in any transaction. you can't edit budget amount." name="amount" required
                                                   value="{{budget_data.amount}}" id="readonlyInput" readonly="readonly" placeholder="Amount"/>
                                            {% else %}
                                            <input type="text" class="form-control" name="amount" required
                                                   value="{{budget_data.initial_amount}}" placeholder="Amount"/>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if budget_update_period %}
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Current Period Amount</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            <input type="text" class="form-control" title="this amount not apply for previous budgets. it is only apply for current and next budget amount" name="current_amount" required
                                                   value="{{budget_data.amount}}" placeholder="Amount"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Auto-budget period</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            {% if budget_update_period %}
                                            <select name="budget_period" class="form-control" title="If manual budget or auto budget have been used in any transaction. you can't edit budget period." id="id_budget_period" disabled>
                                                {% for name in budget_period %}
                                                  {% if budget_data.budget_period == name %}
                                                    <option value="{{name}}" selected>{{name}}</option>
                                                  {% else %}
                                                    <option value="{{name}}">{{name}}</option>
                                                  {% endif %}
                                                {% endfor %}
                                            </select>
                                            {% else %}
                                            <select name="budget_period" class="form-control" id="id_budget_period">
                                                {% for name in budget_period %}
                                                  {% if budget_data.budget_period == name %}
                                                    <option value="{{name}}" selected>{{name}}</option>
                                                  {% else %}
                                                    <option value="{{name}}">{{name}}</option>
                                                  {% endif %}
                                                {% endfor %}
                                            </select>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Start Date</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            {% if budget_update_period %}
                                                <input type="text" id="budget_date" title="If manual budget or auto budget have been used in any transaction. you can't edit budget start date." value="{{budget_date}}" name="budget_date" class="form-control flatpickr-basic"  placeholder="YYYY-MM-DD" disabled required>
                                            {% else %}
                                                <input type="text" id="budget_date" value="{{budget_date}}" name="budget_date" class="form-control flatpickr-basic"  placeholder="YYYY-MM-DD" required>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% if budget_update_period and budget_data.budget_period != 'Daily' %}
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Current Budget Date</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            <input type="text" id="current_budget_date" title="If manual budget or auto budget have been used in any transaction. you can change current and next budget start date." value="{{current_budget_date}}" name="current_budget_date" class="form-control flatpickr-basic"  placeholder="YYYY-MM-DD" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">&nbsp;</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        {% if budget_data.auto_budget %}
                                          <input type="checkbox" name="auto_budget" checked class="custom-control-input" id="customCheck1" />
                                        {% else %}
                                          <input type="checkbox" name="auto_budget" class="custom-control-input" id="customCheck1" />
                                        {% endif %}
                                        <label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;Auto-budget</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary mr-1">Update</button>
                                <a href="{% url 'budget_list' %}" class="btn btn-outline-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}

