{% extends "index.html" %}
{% load i18n %}
<!DOCTYPE html>
<head>
    {% block title %} Budget Add {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">{% trans 'Add budget' %}</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">{{ _('Home')}}</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'budgets' %}">{{ _('Budgets')}}</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        {{ _('Add budget')}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="form form-horizontal" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <p class="text-danger">{% trans 'Budget already exist!' %}</p>
                        {% endif %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon"><span class="lead add_categories" title="add category group" data-toggle="modal" data-target="#categories_toggle"><i class="bg-light-info" data-feather="plus"></i>&nbsp;</span>{% trans 'Category Groups' %}</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            {{ form.categories }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_cat_list" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label><span class="lead sub_cat_popup" method_name="budget_pop" title="add category" data-toggle="modal" data-target="#sub_category_toggle"><i class="bg-light-info" data-feather="plus"></i>&nbsp;</span>{% trans 'Categories' %}</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_sub_cat">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>{{_('Currency')}}</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            {{ form.currency }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">{% trans 'Amount' %}</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <input type="text" class="form-control" name="amount" required
                                                   placeholder="Amount"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">{% trans 'Auto-budget period' %}</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            {{ form.budget_period }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">{% trans 'Start Date' %}</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <input type="text" id="budget_date" name="budget_date" class="form-control flatpickr-basic"  placeholder="YYYY-MM-DD" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">&nbsp;</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="auto_budget" checked class="custom-control-input" id="customCheck1" />
                                        <label class="custom-control-label" for="customCheck1">&nbsp;&nbsp;{% trans 'Auto-budget' %}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary mr-1">{% trans 'Create' %}</button>
                                <a href="{% url 'budget_list' %}" class="btn btn-outline-secondary">{% trans 'Cancel' %}</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="categories_toggle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">{% trans 'Add Category Group' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic Vertical form layout section start -->
                    <section id="basic-vertical-layouts" >
                        <div class="row">
                            <div class="col-12">
                                <div class="card" style="margin-bottom:0px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <h5>{% trans 'Name' %}</h5>
                                                    <input type="text" id="category_group_name" name="category_group_name" class="form-control" required/>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button class="btn btn-primary new_category" method_name="group_add">{% trans 'Add' %}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Vertical form layout section end -->
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">{% trans 'Suggestions' %}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        {% for category in category_suggestions %}
                                        <a style="margin:5px; font-size: 12px;" class="btn btn-outline-secondary new_category">
                                            {{category}}&nbsp;<i class="fa fa-plus"></i>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="sub_category_toggle" tabindex="-1" role="dialog" aria-labelledby="sub_category1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="sub_category1">{% trans 'Add Category' %}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic Vertical form layout section start -->
                    <section id="basic-vertical-layout" >
                        <div class="row">
                            <div class="col-12">
                                <div class="card" style="margin-bottom:0px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <h5>Group</h5>
                                                    <select class="form-control sub_cat_select" id="category_group" name="category_group" required>
                                                        <option value="">{% trans 'Select Group' %}</option>
                                                        {% for category in category_groups %}
                                                        <option value="{{category.id}}">{{category.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <h5>{{ _('Name')}}</h5>
                                                    <input type="text" id="sub_category_name" name="sub_category_name" class="form-control" required/>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button class="btn btn-primary new_subcategory" method_name='sub_cat_budget' id="sub_cat_add_btn">{{ _('Add')}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Vertical form layout section end -->
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">{{ _('Suggestions')}}</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row sub_cat_sugg">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content%}
