{% extends "index.html" %}
{% load static i18n %}

<!DOCTYPE html>
<head>
    {% block title %} Budget Box {% endblock title %}
</head>
<body>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12"> 
                            <h2 class="content-header-title float-left mb-0">{% trans 'Budgets' %}</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a>
                                    </li>
                                    <li class="breadcrumb-item">{{ _('Budgets')}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                 <a href="{% url 'budget_add' %}" class="btn btn-primary"><i
                                            class="fa fa-plus"></i> {% trans "Create Budget" %}</a>
                <section id="stocks_grid_view" class="grid-view">
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'sample-budgets' %}">{% trans "Sample Budget" %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">{% blocktrans %} A sample budget is a pre-structured budget format. It is showing the overview of your budget structure. You can see total earning and spending from the budgets. This section also visualize budget spending according to the categories.  {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'current-budgets' %}">{% trans "Current Budget" %} </a>
                            </div>
                            <div class="item-name">
                                <p class="card-text"> {% blocktrans %} current budget showing the overview of your budget structure. You can see total income and expenses of the budget according to the categories. You can also see budget cashflows and budget spending with categories. {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'compare-budgets' %}"> {% trans "Compare Budget" %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">{% blocktrans %} A compare budget provides the facility to the users to compare selected budgets. Its comparing budgets with time ranges and spending amount.{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}