{% extends "index.html" %}
{% load static i18n %}

<!DOCTYPE html>
<head>
    {% block title %} Budget Box {% endblock title %}
</head>
<body>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12"> 
                            <h2 class="content-header-title float-left mb-0">{% trans 'Budgets' %}</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">{% trans 'Home' %}</a>
                                    </li>
                                    <li class="breadcrumb-item">{{ _('Budgets')}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- BEGIN: Info card-->
                    <div class="row">
                        <div class="col-12">
                            <div class="collapse-margin collapse-icon mt-2" id="Budgets-qna">
                                <div class="card">
                                    <div class="card-header" style="padding-bottom:0px; padding-left:0px;" data-toggle="collapse" role="button" data-target="#Budgets-one" aria-expanded="false" aria-controls="Budgets-one">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item">
                                                <a class="nav-link"><i class="bg-light-info" data-feather="info"></i>Budgets PageInfo</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="Budgets-one" style="padding-top:0px; padding-left:10px;" class="collapse" data-parent="#Budgets-qna">
                                        <div class="card-header">
                                            <ul class="nav nav-pills">
                                                <li class="nav-item">
                                                    Ready to take control of your finances? Click the '+ Create Budget' button to start building a personalized budget plan. This intuitive tool guides you through setting up categories, allocating funds, and tracking your progress towards financial stability and goals. Whether you're planning for a big purchase or simply aiming to reduce debt, creating a budget is your first step towards financial empowerment.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top:20px;" >
                        <div class="col">
                            <a href="{% url 'budget_add' %}" class="btn btn-primary"><i
                                                class="fa fa-plus"></i> {% trans "Create Budget" %}</a>
                        </div>
                    </div>
                <!--END: Info card-->
                <section id="stocks_grid_view" class="grid-view">
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'budgets_walk_through' %}">{% trans 'Walk Through For Budget' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">{% blocktrans %} In this budget walkthrough, we provide a professional guide on the essential steps to help users create a well-structured budget by defining categories and allocating amounts. {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'sample-budgets' %}">{{_('Sample Budget')}}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">{% blocktrans %}Discover a sample of an already created budget, with our 'Sample Budget.' This feature provides you with a template showcasing a balanced budget, helping you understand how to allocate your income effectively across various categories like housing, food, savings, and more. It's a great starting point for beginners exploring sample budgets. {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'current-budgets' %}">{% trans "Current Budget" %} </a>
                            </div>
                            <div class="item-name">
                                <p class="card-text"> {% blocktrans %} Your 'Current Budget' is where you track your current budget goals and financial activity. This interactive dashboard displays your income, expenses, and savings for the current month, giving you a clear view of your financial health. It's designed to help you stay on top of your spending and make adjustments as needed to align with your financial goals. {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'compare_boxes' %}">{% trans "Compare Budget" %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">{% blocktrans %}  Use the 'Compare Budget' feature to see how your current spending patterns stack up against your previous months or your initial budget plan. This tool is invaluable for spotting trends, understanding your spending habits, and making informed decisions to improve your financial well-being.
                                    {% endblocktrans %}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}