{% extends "index.html" %}
{% load mathfilters %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Budgets</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Budgets
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'budget_add' %}" class="btn btn-primary"><i
                            class="fa fa-plus"></i> Add Budget</a>
                </div>
                <br/>
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <div class="download_csv_form"></div>
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title mb-25">Budgets List</h4>
                                        <button class="btn btn-primary download_csv" file_name="my_budget.csv" table_heading="{{budget_key_dumbs}}" table_length="{{budget_key | length}}" table_id="#budgets" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                                    </div>
                                    <div class="card-datatable">
                                        <table class="dt-row-grouping table" id="budgets">
                                            <thead>
                                            <tr>
                                                {% for name in budget_key %}
                                                    <th>{{name}}</th>
                                                {% endfor %}
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in budget_data %}
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ forloop.counter }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ object.name }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ object.currency }}{{ object.amount }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ object.currency }}{{ object.budget_spent }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ object.currency }}{{ object.amount|sub:object.budget_spent }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ object.updated_at }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">
                                                            <ul class="list-inline m-0">
                                                                <li class="list-inline-item">
                                                                    <a href="{% url 'budget_update' pk=object.id %}"
                                                                       class="btn btn-success btn-sm rounded-0"><i
                                                                            class="fa fa-edit"></i></a>

                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <button type="button" delete_name="{{ object.name }} Budget" url="{% url 'budget_delete' pk=object.id %}"
                                                                       class="btn btn-danger btn-sm rounded-0 delete_button"
                                                                       data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                            class="fa fa-trash"></i></button>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title mb-25">Revenues</h4>
                                        <div class="col-sm-40 offset-sm-20">
                                            <a href="{% url 'revenue_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Revenue</a>
                                        </div>
                                    </div>
                                    <div class="card-datatable">
                                        <table class="dt-row-grouping table" id="revenue_table">
                                            <thead>
                                            <tr>
                                            {% for data in revenue_keys %}
                                                {% if forloop.counter == 1 %}
                                                <th>{{data}}</th>
                                                {% else %}
                                                <th><a href="{% url 'revenue_update_name' pk=data %}" title="Edit">{{data}}</a></th>
                                                {% endif %}
                                            {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for value in revenue_values %}
                                            <tr>
                                                {% for key, object in value.items %}
                                                {% if forloop.counter == 1 %}
                                                <td>{{object}}</td>
                                                {% else %}
                                                <td><a href="{% url 'revenue_update' pk=key %}" title="Edit">{{object}}</a></td>
                                                {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}

