<!-- User Chat messages -->
 {% load static %}
<div class="user-chats theme-scrollbar" id="chatContainer" data-url="{% url 'load_ai_chats' %}">
    <!--Loading-->
    <!--Actual chat message container-->
    <div class="chats " id="chatMsgContainer">
        <!--Chats will show here from js file-->
    </div>
</div>

<!--Send message form-->

<form class="border rounded-sm position-relative" >
    {% csrf_token %}
    <div class="form-floating d-flex align-items-center">
      <textarea name="ai-msg-input" class="form-control border-0 " placeholder="Start typing..." id="aiMsgInput"></textarea>
      <button type="button" class="btn btn-primary  btn-sm" id="sendMessageButton">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
          <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>
      </button>
    </div>
  </form>

