<form action="">
  {% csrf_token %}
  <!-- Select Feature -->
  <div class="form-group">
    <label class="form-label w-100" for="feedbackFeature"
      >Which feature or section are you providing feedback on?</label
    >
    <select class="form-control" name="feedback_feature" id="feedbackFeature">
      <option value="Nov-2024">Nov-2024 Budget</option>
    </select>
  </div>

  <!--Select Issue (Multi Select)-->
  <div class="form-group">
    <label class="form-label w-100" for="issue"
      >What issue did you experience on this page?</label
    >
    <select class="form-control" name="feedback_issue" id="issue" multiple>
      <option value="CRITICAL">Visual bug</option>
      <option value="MAJOR">Confusing Layout</option>
      <option value="MINOR">Slow Loading</option>
      <option value="NOT URGENT">Error Message</option>
    </select>
  </div>

  <!--Screen Shot-->
  <div class="form-group">
    <label for="screenshot" class="form-label"
      >Would you like to include a screenshot?</label
    >
    <div class="d-flex gap-2 align-items-center justify-content-between">
      <button id="takeScreenshot" type="button" class="btn btn-sm text-primary">
        Take Screenshot
      </button>
       <label for="feedbackImg" class="btn btn-sm text-primary">
            Upload existing one
        </label>
        <input
          id="feedbackImg"
          name="feedbackImg"
          class="d-none"
          type="file"
        />
      <div class="">
       
      </div>
    </div>
    <input type="hidden" name="screenshotData" id="screenshotData" />
  </div>

  <!--Screenshot Modal-->

  <!--Feedback Details-->
  <div class="form-group">
    <label for="floatingTextarea2"
      >Please describe the issue or feedback in detail.</label
    >
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
  </div>

  <!--Features Suggestions-->
  <label for="floatingTextarea2"
    >Do you have any suggestion to improve the feature/page?</label
  >
  <div class="form-group">
    <textarea
      class="form-control"
      placeholder="Leave a comment here"
      id="floatingTextarea2"
      style="height: 100px"
    ></textarea>
  </div>

  <!--Priority Dropdown-->
  <div class="form-group">
    <label class="form-label w-100" for="priority"
      >How important is this issue to you?</label
    >
    <select class="form-control" name="feedback_priority" id="priority">
      <option value="CRITICAL">Critical</option>
      <option value="MAJOR">Major</option>
      <option value="MINOR">Minor</option>
      <option value="NOT URGENT">Not Urgent</option>
      <option value="JUST A SUGGESTION">Just a suggestion</option>
    </select>
  </div>
</form>
