<div
    id="rightSettingBody"
    class="right-sidebar position-fixed position-top-0 position-right-0 position-bottom-0 card"
    data-visible="true"
>
    <!--START: sidebar header-->
    <div class="right-sidebar-header">
        <div class="px-3 border-bottom py-1 position-relative">
            <button
                id="closeSidebar"
                class="close-button font-weight-bold position-absolute"
                type="button"
                aria-label="Close"
                aria-controls="rightSettingBody"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-x-lg"
                    viewBox="0 0 16 16"
                >
                    <path
                        d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"
                    />
                </svg>
            </button>
            <!--Header-->
            <h3 id="rightSidebarHeader">Settings</h3>
            <!--Description-->
            <p id="rightSidebarDescription">Select an option to continue...</p>
        </div>
        <!--END: sidebar header-->
        <div class="btn-group py-2 px-1">
            <button
                class="btn btn-outline-secondary"
                type="button"
                id="aiChatButton"
                aria-controls="aiChatContent"
                aria-expanded="false"
            >
                AI Chat
            </button>
            <button
                class="btn btn-outline-secondary btn-sm"
                type="button"
                id="feedbackButton"
                aria-controls="feedbackContent"
                aria-expanded="false"
            >
                Feedback
            </button>
            <button
                class="btn btn-outline-secondary"
                type="button"
                id="notesButton"
                aria-controls="notesContent"
                aria-expanded="false"
            >
                Notes
            </button>
            <button
                class="btn btn-outline-secondary"
                type="button"
                id="lessonsButton"
                aria-controls="lessonsContent"
                aria-expanded="false"
            >
                Lessons
            </button>
        </div>
    </div>
    <!--Content-->
    <div class="px-2 right-sidebar-content-container">
        <!--AI Chat Content-->
        <div
            class="right-setting-content h-100"
            id="aiChatContent"
            data-visible="true"
        >
            {% include "./chat_content.html" %}
        </div>
        <!--Feedback Content-->
        <div
            class="right-setting-content"
            id="feedbackContent"
            data-visible="false"
        >
            {% include "./feedback_content.html" %}
        </div>
        <!--Notes Content-->
        <div
            class="right-setting-content theme-scrollbar"
            id="notesContent"
            data-visible="false"
        >
            {% include "./notes_content.html" %}
        </div>
        <!--Lessons Content-->
        <div
            class="right-setting-content theme-scrollbar"
            id="lessonsContent"
            data-visible="false"
            data-url="{% url 'documentation' %}"
            data-current-path="{{ request.path }}"
        ></div>
    </div>
</div>
