{% extends "index.html" %} {% load static i18n %}
<!DOCTYPE html>
<head> {% block title %} Bill List {% endblock title %} </head>
<body>
    {% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-12 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">{% trans 'Bills & Subscriptions' %}</h2>
                            <a href="{% url 'budgets_walk_through' %}#bill-section" class="btn btn-primary float-right bill-and-subscription-btn"><i
                                class="fa fa-edit "></i> Edit Bills & Subscriptions</a>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a> </li>
                                    <li class="breadcrumb-item">Bills & Subscriptions </li>
                                    <li></li>
                                    
                                </ol>
                                
                                
                                    
                                   
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div class="collapse-margin collapse-icon mt-2" id="bill-list-qna">
                            <div class="card">
                                <div class="card-header" style="padding-bottom:0px; padding-left:0px;" data-toggle="collapse" role="button" data-target="#bill-list-one" aria-expanded="false" aria-controls="bill-list-one">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item"> <a class="nav-link"><i class="bg-light-info" data-feather="info"></i>Bills list Page Info</a> </li>
                                    </ul>
                                </div>
                                <div id="bill-list-one" style="padding-top:0px; padding-left:20px;" class="collapse" data-parent="#bill-list-qna">
                                    <div class="card-header">
                                        <ul class="nav nav-pills">
                                            <li class="nav-item"> The 'Bills and Subscriptions' page is designed to manage all your recurring financial commitments in one place. This includes utilities, rent, mortgage, and any subscription services like streaming or gym memberships. By centralizing this information, the page helps you keep track of your regular outgoings, ensuring you never miss a payment and maintain control over your finances. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <section class="app-user-edit">
                    <div class="content-body">
                        <div class="row match-height">
                            <div class="col-8">
                                <div class="card shadow-sm">
                                    <div class="card-header" data-toggle="collapse" href="#calendarCollapse">
                                        <a><i class="bg-light-info" data-feather="info"></i> Calendar Description </a>
                                        <div class="card-toolbar">
                                            <i class="fa fa-chevron-down pull-right"></i>
                                        </div>
                                    </div>
                                    <div id="calendarCollapse" class="collapse">
                                        <div class="card-body">
                                            The calendar view offers a monthly overview of your bill schedule. It visually marks the days when each bill is due, providing a clear and immediate understanding of your upcoming payments. This feature is particularly helpful for visualizing your financial commitments throughout the month and planning your cash flow accordingly.                                        </div>
                                    </div>
                                </div>
                                <div class="app-calendar overflow-hidden border">
                                    <div class="row no-gutters">
                                        <!-- Sidebar -->
                                        <div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column" id="app-calendar-sidebar">
                                            <div class="sidebar-wrapper">
                                                <div class="card-body d-flex justify-content-center"> <a href="{% url 'bill_add' %}" class="btn btn-primary"> <i class="fa fa-plus"></i> Add Bill</a> </div>
                                                <div class="card-body pb-0">
                                                    <h5 class="section-label mb-1"> <span class="align-middle">Filter</span> </h5>
                                                    <div class="custom-control custom-checkbox mb-1"> <input type="checkbox" class="custom-control-input select-all" id="select-all" checked /> <label class="custom-control-label" for="select-all">View All</label> </div>
                                                    <div class="calendar-events-filter">
                                                        <div class="custom-control custom-control-success custom-checkbox mb-1"> <input type="checkbox" class="custom-control-input input-filter" id="holiday" data-value="holiday" checked /> <label class="custom-control-label" for="holiday">Paid</label> </div>
                                                        <div class="custom-control custom-control-danger custom-checkbox mb-1"> <input type="checkbox" class="custom-control-input input-filter" id="personal" data-value="personal" checked /> <label class="custom-control-label" for="personal">Unpaid</label> </div>
                                                    </div>
                                                </div>
                                                <!-- Bill budget dropdown -->
                                                <div class="dropdown" style="margin-left:1rem;">
                                                    <form method="post" action="{% url 'bill_list' %}" id="bill_filter_form" >
                                                        {% csrf_token %}
                                                        <select class="form-control " name="selected_bill" id="bill_select" style="width:200px">
                                                            <option value="all" {% if bill_label == "all" or not bill_label %}selected{% endif %}>All</option>
        
                                                            {% for name in bill_list  %}
                                                            
                                                            <option value="{{name.label}}" {% if name.label == bill_label %}selected{% endif %}>{{name.label}} </option>
                                                            
                                                            {% endfor %}
                                                        </select>
                                                    </form>
                                                    
                                                </div>
                                            </div>
                                            <div class="mt-auto"> <img src="{% static 'app-assets/images/pages/calendar-illustration.png' %}" alt="Calendar illustration" class="img-fluid" /> </div>
                                        </div>
                                        <!-- /Sidebar -->
                                        <!-- Calendar -->
                                        <div class="col position-relative">
                                            <div class="card shadow-none border-0 mb-0 rounded-0">
                                                <div class="card-body pb-0">
                                                    <div id="calendar"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Calendar -->
                                        <div class="body-content-overlay"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <section style="height:100%;">
                                    <div class="card" style="height:100%;">
                                        <div class="card-body">
                                            <ul class="nav nav-pills" role="tablist">
                                                <li class="nav-item"> <a class="nav-link d-flex align-items-center active" id="calendar_bills_tab" data-toggle="tab" href="#calendar_bills_data" aria-controls="calendar_bills_data" role="tab" aria-selected="false"
                                                    title="The 'Upcoming Bills' table lists all bills that are due soon. This includes details such as the bill name, amount, and due date. It serves as a timely reminder, ensuring you're always prepared for upcoming payments and helping you avoid late fees or service disruptions."> 
                                                    <span class="d-none d-sm-block">Upcoming Bills</span> </a> 
                                                </li>
                                                <li class="nav-item"> <a class="nav-link d-flex align-items-center" id="bills_tab" data-toggle="tab" href="#bills_data" aria-controls="bills_data" role="tab" aria-selected="false"
                                                    title="This comprehensive table includes every bill and subscription you have. It provides a detailed record, including the frequency, amount, and associated account. By having a complete overview of all your regular expenses, you can better understand your financial obligations and make informed budgeting decisions."> 
                                                    <span class="d-none d-sm-block">All Bills & Subscriptions</span> </a> 
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="calendar_bills_data" aria-labelledby="calendar_bills_tab" role="tabpanel">
                                                    <section>
                                                        <div class="card">
                                                            <div class="card-datatable">
                                                                <table class="table table-responsive " id="bills">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Name</th>
                                                                            <th>Amount</th>
                                                                            <th>Due Date</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for data in bill_data %} {% if today_date <= data.date %} 
                                                                        <tr>
                                                                            <td>
                                                                                <div class="d-flex align-items-center"> <span class="font-weight-bolder mr-1"><a href="{% url 'bill_details' pk=data.id %}">{{data.label}}</a></span> </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="d-flex align-items-center"> <span class="font-weight-bolder mr-1 text-danger">{{data.amount}}</span> </div>
                                                                            </td>
                                                                            <td>
                                                                                <div class="d-flex align-items-center"> <span class="font-weight-bolder mr-1">{{data.date}}</span> </div>
                                                                            </td>
                                                                        </tr>
                                                                        {% endif %} {% endfor %} 
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div class="tab-pane" id="bills_data" aria-labelledby="bills_tab" role="tabpanel">
                                                    <section id="ecommerce-products" class="list-view">
                                                        {% for bill_details in bill_data %} 
                                                        <div class="card ecommerce-card">
                                                            <div class="item-img text-center" style="height:150px;">
                                                                <a href="{% url 'bill_details' pk=bill_details.id %}">
                                                                    <div class="card-body">
                                                                        <h3 style="float: left;">{{ bill_details.label }}&nbsp;&nbsp; {{ bill_details.account.currency }}{{ bill_details.amount }}&nbsp; </h3>
                                                                        <h4 style="float: left;">
                                                                            {% if bill_details.auto_bill %} 
                                                                            <div class="badge badge-glow badge-info" title="Generate bill automatically according to due date.">Auto Bill({{ bill_details.frequency }})</div>
                                                                            {% else %} 
                                                                            <div class="badge badge-glow badge-info" title="Generate bill manually.">Manual Bill</div>
                                                                            {% endif %} {% if bill_details.auto_pay %} 
                                                                            <div class="badge badge-glow badge-info" title="Pay bill automatically according to due date.">Auto Pay</div>
                                                                            {% else %} 
                                                                            <div class="badge badge-glow badge-info" title="Pay bill manually.">Manual Pay</div>
                                                                            {% endif %} 
                                                                        </h4>
                                                                        <h4 style="float: left;" class="text-danger">Due Date :- {{ bill_details.date }}&nbsp;&nbsp;&nbsp;&nbsp;</h4>
                                                                        <!--                                    <h4 style="float: right;">{{ object.updated_at }}</h4>-->
                                                                        <h4 style="float: left;">Account :- {{ bill_details.account.name }}</h4>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        {% endfor %} 
                                                    </section>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Full calendar end -->
            </div>
        </div>
    </div>
    {% endblock content%}