{% extends "index.html" %}
{% load static %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Bills & Subscriptions</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Bills & Subscriptions
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                            <div class="card">
                                <div class="card-header" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                                    <span class="lead collapse-title"><i class="bg-light-info" data-feather="info"></i>&nbsp;Description</span>
                                </div>
                                <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna">
                                    <div class="card-body">
                                        This page have bills & subscriptions calendar tab in which paid or unpaid bills are show with calendar date and all bills & subscriptions tab shows all the bills & subscriptions lists.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <section class="app-user-edit">
                    <div class="content-body">
                        <div class="row match-height">
                            <div class="col-8">
                                <div class="app-calendar overflow-hidden border">
                        <div class="row no-gutters">
                            <!-- Sidebar -->
                            <div class="col app-calendar-sidebar flex-grow-0 overflow-hidden d-flex flex-column" id="app-calendar-sidebar">
                                <div class="sidebar-wrapper">
                                    <div class="card-body d-flex justify-content-center">
                                        <a href="{% url 'bill_add' %}" class="btn btn-primary">
                                            <i class="fa fa-plus"></i> Add Bill</a>
                                    </div>
                                    <div class="card-body pb-0">
                                        <h5 class="section-label mb-1">
                                            <span class="align-middle">Filter</span>
                                        </h5>
                                        <div class="custom-control custom-checkbox mb-1">
                                            <input type="checkbox" class="custom-control-input select-all" id="select-all" checked />
                                            <label class="custom-control-label" for="select-all">View All</label>
                                        </div>
                                        <div class="calendar-events-filter">
                                            <div class="custom-control custom-control-success custom-checkbox mb-1">
                                                <input type="checkbox" class="custom-control-input input-filter" id="holiday" data-value="holiday" checked />
                                                <label class="custom-control-label" for="holiday">Paid</label>
                                            </div>
                                            <div class="custom-control custom-control-danger custom-checkbox mb-1">
                                                <input type="checkbox" class="custom-control-input input-filter" id="personal" data-value="personal" checked />
                                                <label class="custom-control-label" for="personal">Unpaid</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-auto">
                                    <img src="{% static 'app-assets/images/pages/calendar-illustration.png' %}" alt="Calendar illustration" class="img-fluid" />
                                </div>
                            </div>
                            <!-- /Sidebar -->

                            <!-- Calendar -->
                            <div class="col position-relative">
                                <div class="card shadow-none border-0 mb-0 rounded-0">
                                    <div class="card-body pb-0">
                                        <div id="calendar"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Calendar -->
                            <div class="body-content-overlay"></div>
                        </div>
                    </div>
                            </div>
                            <div class="col-4">
                                <section style="height:100%;">
                                <div class="card" style="height:100%;">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center active" id="calendar_bills_tab" data-toggle="tab" href="#calendar_bills_data" aria-controls="calendar_bills_data" role="tab" aria-selected="false">
                                                <span class="d-none d-sm-block">Upcoming Bills</span>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link d-flex align-items-center" id="bills_tab" data-toggle="tab" href="#bills_data" aria-controls="bills_data" role="tab" aria-selected="false">
                                                <span class="d-none d-sm-block">All Bills & Subscriptions</span>
                                            </a>
                                        </li>
                                    </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="calendar_bills_data" aria-labelledby="calendar_bills_tab" role="tabpanel">
                                        <section>
                                            <div class="card">
                                                <div class="card-datatable">
                                                    <table class="table table-responsive" id="bills">
                                                        <thead>
                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Amount</th>
                                                                <th>Due Date</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for data in bill_data %}
                                                            {% if today_date <= data.date %}
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="font-weight-bolder mr-1"><a href="{% url 'bill_details' pk=data.id %}">{{data.label}}</a></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="font-weight-bolder mr-1 text-danger">{{data.amount}}</span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="font-weight-bolder mr-1">{{data.date}}</span>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                    <div class="tab-pane" id="bills_data" aria-labelledby="bills_tab" role="tabpanel">
                <section id="ecommerce-products" class="list-view">
                    {% for bill_details in bill_data %}
                    <div class="card ecommerce-card">
                        <div class="item-img text-center" style="height:150px;">
                            <a href="{% url 'bill_details' pk=bill_details.id %}">
                                <div class="card-body">
                                    <h3 style="float: left;">{{ bill_details.label }}&nbsp;&nbsp;
                                        {{ bill_details.account.currency }}{{ bill_details.amount }}&nbsp;
                                    </h3>
                                    <h4 style="float: left;">
                                        {% if bill_details.auto_bill %}
                                        <div class="badge badge-glow badge-info" title="Generate bill automatically according to due date.">Auto Bill({{ bill_details.frequency }})</div>
                                        {% else %}
                                        <div class="badge badge-glow badge-info" title="Generate bill manually.">Manual Bill</div>
                                        {% endif %}

                                        {% if bill_details.auto_pay %}
                                        <div class="badge badge-glow badge-info" title="Pay bill automatically according to due date.">Auto Pay</div>
                                        {% else %}
                                            <div class="badge badge-glow badge-info" title="Pay bill manually.">Manual Pay</div>
                                        {% endif %}
                                    </h4>
                                    <h4 style="float: left;" class="text-danger">Due Date :- {{ bill_details.date }}&nbsp;&nbsp;&nbsp;&nbsp;</h4>
<!--                                    <h4 style="float: right;">{{ object.updated_at }}</h4>-->
                                    <h4 style="float: left;">Account :- {{ bill_details.account.name }}</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
                                </div>
                                </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Full calendar end -->
            </div>
        </div>
    </div>
{% endblock content%}