{% extends "index.html" %}
{% block content %}

<section id="row-grouping-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-title">Goal List</h4>
                    <li class="list-inline-item">
                        <div class="col-sm-40 offset-sm-20">
                            <a href="{% url 'goal_add' %}" class="btn btn-primary"><i
                                    class="fa fa-plus"></i> Add Goal</a>
                        </div>
                </div>
                <div class="card-datatable">
                    <table class="dt-row-grouping table" id="goals">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Label</th>
                            <th>Goal Amount</th>
                            <th>Current Balance</th>
                            <th>Last Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.id}}</th>
                            <td>{{ object.created_at }}</td>
                            <td>{{ object.label }}</td>
                            <td>{{ object.goalamount }}</td>
                            <td>{{ object.currentbalance }}</td>
                            <td>{{ object.updated_at }}</td>
                            <!-- Call to action buttons -->
                            <td>
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <a href="{% url 'goal_update' pk=object.id %}"
                                           class="btn btn-success btn-sm rounded-0" type="button"
                                           data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fa fa-edit"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'goal_delete' pk=object.id %}"
                                           class="btn btn-danger btn-sm rounded-0" type="button"
                                           data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


<!--   {% for object in object_list %}-->
<!--   <li>{{object.label}}</li>-->
<!--    {% endfor %}-->

<!--</ul>-->
{% endblock content%}
