{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Funds</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Funds
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'account_add' %}" class="btn btn-primary"><i
                            class="fa fa-plus"></i> Add Funds</a>
                </div>
                <br/>
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <div class="download_csv_form"></div>
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title mb-25">Fund List</h4>
                                        <button class="btn btn-primary download_csv" file_name="my_funds.csv" table_heading="{{fund_key_dumbs}}" table_length="{{fund_key | length}}" table_id="#budgets" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                                    </div>
                                    <div class="card-datatable">
                                        <table class="dt-row-grouping table" id="budgets">
                                            <thead>
                                            <tr>
                                                {% for name in fund_key %}
                                                    <th>{{name}}</th>
                                                {% endfor %}
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in fund_value %}
                                            <tr>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">{{ forloop.counter }}</span>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">
                                                            <p class="dropdown-item fund_overtime" data-toggle="modal" data-target="#edit">Show
                                                            </p>
                                                        </span>
                                                    </div>
                                                </td>
                                                {% for data in object %}
                                                {% if forloop.counter != 5 %}
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1" id="acc_name" account_name="{{data}}">{{ data }}</span>
                                                    </div>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">
                                                            <ul class="list-inline m-0">
                                                                <li class="list-inline-item">
                                                                    <a href="{% url 'fund_update' pk=data %}"
                                                                       class="btn btn-success btn-sm rounded-0"><i
                                                                            class="fa fa-edit"></i></a>

                                                                </li>
                                                                <li class="list-inline-item">
                                                                    <button type="button" delete_name="{{ object.name }} Account" url=""
                                                                       class="btn btn-danger btn-sm rounded-0 delete_button"
                                                                       data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                            class="fa fa-trash"></i></button>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </div>
                                                </td>
                                                {% endif %}
                                                {% endfor %}
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade text-left" id="edit" tabindex="-1" role="dialog" aria-labelledby="editLabel1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" style="width:800px;">
                                <form class="form form-vertical" method="POST">
                                {% csrf_token %}
                                <div class="modal-header">
                                    <h4 class="modal-title" id="editLabel1">Funds Charts</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Basic Vertical form layout section start -->
                                    <section id="basic-vertical-layout" >
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card card-congratulation-medal">
                                                    <div class="card-body">
                                                        <h5>Accounts</h5>
                                                        <canvas class="macro-chart chartjs" data-height="450"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!-- Basic Vertical form layout section end -->
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-danger" data-dismiss="modal" aria-label="Close" aria-hidden="true">Cancel</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}

