{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Update Transaction</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'transaction_list' %}">Transactions</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        Update Transaction
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="form form-horizontal" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Date</label>

                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{form.transaction_date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Description</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input type="text" value="{{form.payee.value}}" id="fname-icon" class="form-control" name="payee" required
                                                   placeholder="Payee"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Account</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                           {{ form.account }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Category Groups</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <select name="category" class="form-control pick_category" required="" id="id_category">
                                                <option value="">Select Category Group</option>
                                                {% for category in categories %}
                                                    {% if category.id == select_category_id %}
                                                        <option value="{{category.id}}" selected>{{category.name}}</option>
                                                    {% else %}
                                                        <option value="{{category.id}}">{{category.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_cat_list">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Categories</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_sub_cat">
                                            <select class="form-control show_due_bills check_budget_category" id="subcategory" name="subcategory">
                                                <option value="">Select Category</option>
                                                {% for subcategory in subcategories %}
                                                    {% if subcategory.id == select_subcategory_id %}
                                                        <option selected>{{subcategory.name}}</option>
                                                    {% else %}
                                                        <option>{{subcategory.name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_due_bill_list" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Unpaid Bills</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_bills">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_income_list" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Uncredited Income</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_income">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Bill</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{ form.bill }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 budget_div" style="{% if not select_budget_name %}display:None;{% endif %}">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Budget</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input type="text" class="form-control" value="{{select_budget_name.name}}" id="budget_name" name="budget_name" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="email-icon">Amount</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="email-icon" value="{{form.amount.value}}" class="form-control" name="amount" required
                                                   placeholder="Amount"/>
                                        </div>
                                        <p id="amount_error" class="text-danger" style="display:None"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Split Transactions</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input data-toggle="modal" data-target="#split_toggle" type="text" id="split_transactions" class="form-control" name="split_transactions"
                                                   placeholder="Add Split Amount" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="transaction_tags">Tags</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input data-toggle="modal" value="{% if tag_name %}{{tag_name}}{%endif%}" data-target="#tag_toggle" type="text" id="transaction_tags" class="form-control" name="tag_name"
                                                   placeholder="Add Tags" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Notes</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{ form.notes }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">&nbsp;</label>
                                    </div>
                                    &nbsp;
                                    {% if form.out_flow.value %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" value="True" name="out_flow" class="custom-control-input" checked/>
                                        <label class="custom-control-label" for="customRadio1">&nbsp;Expenses</label>
                                    </div>
                                    &nbsp;
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" value="False" name="out_flow" class="custom-control-input"  />
                                        <label class="custom-control-label" for="customRadio2">&nbsp;Income&nbsp;</label>
                                    </div>
                                    {% else %}
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" value="True" name="out_flow" class="custom-control-input"/>
                                        <label class="custom-control-label" for="customRadio1">&nbsp;Expenses</label>
                                    </div>
                                    &nbsp;
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" value="False" name="out_flow" class="custom-control-input" checked/>
                                        <label class="custom-control-label" for="customRadio2">&nbsp;Income&nbsp;</label>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary mr-1">Update</button>
                                <a href="{% url 'transaction_list' %}" class="btn btn-outline-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="tag_toggle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">Select and add tags for this transaction</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic Vertical form layout section start -->
                    <section id="basic-vertical-layouts" >
                        <div class="row">
                            <div class="col-12">
                                <div class="card" style="margin-bottom:0px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <h5>Name</h5>
                                                    <input type="text" id="tag_name" name="tag_name" class="form-control" required/>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button class="btn btn-primary add_tag_btn">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Vertical form layout section end -->
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">All tags</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row tag_sugg">
                                        {% for tag in tags %}
                                        <a style="margin:5px; font-size: 12px;" class="btn btn-outline-secondary close select_tag" data-dismiss="modal" aria-label="Close">
                                            {{tag.name}}&nbsp;<i class="fa fa-plus"></i>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="split_toggle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="split_toggle1">Split Transaction</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic Vertical form layout section start -->
                    <section id="basic-vertical-layout" >
                        <div class="row">
                            <div class="col-12">
                                <div class="card" style="margin-bottom:0px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card-datatable table-responsive">
                                                     <table class="table">
                                                         <thead>
                                                         <tr><th>Original Transaction</th></tr>
                                                         </thead>
                                                     </table>
                                                     <table class="table">
                                                         <tbody>
                                                            <tr>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                        <div class="text-muted">Description</div>
                                                                        <div class="font-weight-bolder">{{form.payee.value}}</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div>
                                                                        <div class="text-muted">Amount</div>
                                                                        <div class="font-weight-bolder" id="original_split_amount">{% if original_amount %}{{original_amount}}{% else %}{{form.amount.value}}{% endif %}</div>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                         </tbody>
                                                     </table>
                                                     <table class="table">
                                                         <thead>
                                                         <tr><th colspan="3">Splits Into</th></tr>
                                                         </thead>
                                                         <tbody class="split_cat_table">
                                                            {% if split_category %}
                                                            {% for key, val in split_category.items %}
                                                                <tr>
                                                                    <td>
                                                                        <div class="d-flex align-items-center">
                                                                            <div class="font-weight-bolder">{{val.0}}</div>
                                                                        </div>
                                                                    </td>
                                                                    {% if forloop.counter0 == 0 %}
                                                                        <td colspan="2">
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="font-weight-bolder"><input type="text" class="form-control change_split_amount" amount_index="{{forloop.counter0}}" value="{{val.1}}"></div>
                                                                            </div>
                                                                        </td>
                                                                    {% else %}
                                                                        <td>
                                                                            <div class="d-flex align-items-center">
                                                                                <div class="font-weight-bolder"><input type="text" class="form-control change_split_amount" amount_index="{{forloop.counter0}}" value="{{val.1}}"></div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <button class="btn btn-danger delete_split_cat" cat_value="{{val.0}}">
                                                                                <i class="fa fa-minus"></i>
                                                                            </button>
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                            {% else %}
                                                                <tr>
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="font-weight-bolder">{{select_subcategory_name}}</div>
                                                                    </div>
                                                                </td>
                                                                <td colspan="2">
                                                                    <div class="d-flex align-items-center">
                                                                        <div class="font-weight-bolder"><input type="text" class="form-control change_split_amount" amount_index="0" value="{{form.amount.value}}"></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            {% endif %}
                                                         </tbody>
                                                     </table>
                                                </div>
                                                <br/>
                                                <div class="form-group">
                                                    <select class="form-control select_split_category">
                                                        <option value="">Select Category</option>
                                                        {% for data in subcategories_data %}
                                                            <option>{{data.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Vertical form layout section end -->
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    {% if split_cat %}
                                        <button class="btn btn-primary save_split_cat_btn" transaction_id="{{transaction_id}}" split_cat_list='{{split_cat}}' method_name="update_split" split_amount_list='{{amount_list}}'>Update</button>
                                    {% else %}
                                        <button class="btn btn-primary save_split_cat_btn" transaction_id="{{transaction_id}}" method_name="save_split" split_cat_list='["{{select_subcategory_name}}"]' split_amount_list='["{{form.amount.value}}"]'>Save</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}