{% extends "index.html" %}
<!DOCTYPE html>
<head>
    {% block title %} Transaction Add {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Add Transaction</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'transaction_list' %}">Transactions</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        Add Transaction
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <form class="form form-horizontal" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Date</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{form.transaction_date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Description</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input type="text" id="fname-icon" class="form-control" name="payee" required
                                                   placeholder="Expense"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Account</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                           {{ form.account }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Category Groups</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{ form.category }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_cat_list" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Categories</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_sub_cat">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_due_bill_list" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Unpaid Bills</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_bills">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 transaction_income_list" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Uncredited Income</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge" id="trans_income">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Bill</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{ form.bill }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 budget_div" style="display:None;">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Budget</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input type="text" class="form-control" id="budget_name" name="budget_name" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label>Amount</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{form.amount}}
                                        </div>
                                        <p id="amount_error" class="text-danger" style="display:None"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <i class="bg-light-info" data-feather="info" data-toggle="modal" data-target="#TagsInfo"></i> 
                                        <label for="transaction_tags">Tags</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <input data-toggle="modal" data-target="#tag_toggle" type="text" id="transaction_tags" class="form-control" name="tag_name"
                                                   placeholder="Add Tags" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <i class="bg-light-info" data-feather="info" data-toggle="modal" data-target="#NotesInfo"></i> 
                                        <label for="fname-icon">Notes</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            {{ form.notes }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">Type</label>
                                    </div>&nbsp;
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio1" value="True" name="out_flow" class="custom-control-input" checked/>
                                        <label class="custom-control-label" for="customRadio1">&nbsp;Expenses&nbsp;</label>
                                    </div>
                                    &nbsp;
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="customRadio2" value="False" name="out_flow" class="custom-control-input"/>
                                        <label class="custom-control-label" for="customRadio2">&nbsp;Income</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 offset-sm-3">
                                <input type="submit" class="btn btn-primary mr-1" value="Save">
                                <input type="submit" class="btn btn-primary mr-1" name="add_other" value="Save and add another">

                                <a href="{% url 'transaction_list' %}" class="btn btn-outline-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-left" id="tag_toggle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel1">Select and add tags for this transaction</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Basic Vertical form layout section start -->
                    <section id="basic-vertical-layouts" >
                        <div class="row">
                            <div class="col-12">
                                <div class="card" style="margin-bottom:0px;">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <h5>Name</h5>
                                                    <input type="text" id="tag_name" name="tag_name" class="form-control" required/>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button class="btn btn-primary add_tag_btn">Add</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Basic Vertical form layout section end -->
                </div>
                <div class="modal-footer">
                    <div class="col-12">
                        <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">All tags</h4>
                                </div>
                                <div class="card-body">
                                    <div class="row tag_sugg">
                                        {% for tag in tags %}
                                        <a style="margin:5px; font-size: 12px;" class="btn btn-outline-secondary close select_tag" data-dismiss="modal" aria-label="Close">
                                            {{tag.name}}&nbsp;<i class="fa fa-plus"></i>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Model-->
    <div class="modal fade" id="TagsInfo" tabindex="-1" role="dialog" aria-labelledby="TagsInfoModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="TagsInfoModel">Tags Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                Tags help you categorize transactions in a way that makes sense for your personal finance management. You can tag transactions by type, purpose, or any other system that helps you stay organized.
            </div>
          </div>
        </div>
    </div>
    <div class="modal fade" id="NotesInfo" tabindex="-1" role="dialog" aria-labelledby="NotesInfoModel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="NotesInfoModel">Notes Description</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                The notes section is a space to add additional information about the transaction. This could include details like the context of the expenditure, reminders about recurring payments, or any other relevant information that aids in your financial tracking and analysis.
            </div>
          </div>
        </div>
    </div>    
{% endblock content %}