{% extends "index.html" %}
<!DOCTYPE html>
<head>
    {% block title %} Loan Box {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Accounts | Mortgages & Loans</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Mortgages & Loans Accounts
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'loan_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Add Mortgages & Loans</a>
                </div>
                <br/>
                <section id="stocks_grid_view" class="grid-view">
                    <div class="content-body">
                        <div class="row match-height">
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'loan_list' name='Mortgage' %}">Mortgage</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A mortgage is a specific type of loan used to finance the purchase of real estate, typically a home or property. When a person or entity seeks to buy a property but does not have sufficient funds to pay for it outright, they can apply for a mortgage from a bank or a lending institution. The mortgage serves as a secured loan, where the property itself acts as collateral. The borrower agrees to make regular payments, including both principal and interest, over a predetermined period (usually 15 to 30 years) until the debt is fully repaid. If the borrower fails to make payments, the lender has the right to foreclose on the property to recover their funds.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'loan_list' name='Loan' %}">Loan</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A loan is a general term for borrowed money provided by a lender to a borrower with the expectation that it will be paid back, usually with interest, over a specified period. Loans can be used for various purposes, including personal expenses, business investments, education, or large purchases. They come in different forms, such as secured loans (requiring collateral, like a car or property) and unsecured loans (no collateral required but may have higher interest rates). The terms and conditions of loans vary depending on the lender and the borrower's creditworthiness.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'loan_list' name='Student Loan' %}">Student Loan</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A student loan is a type of loan specifically designed to help students finance their education expenses, including tuition fees, books, and living costs. These loans are often offered by governments or private financial institutions. Depending on the country and the loan program, students may be required to start repaying the loan after graduation or after a grace period. Some student loans offer favorable terms, including low-interest rates and flexible repayment plans to accommodate students' financial situations.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'loan_list' name='Personal Loan' %}">Personal Loan</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A personal loan is an unsecured loan granted to individuals for personal use, such as consolidating debt, covering unexpected expenses, funding vacations, or home improvements. Unlike specific-purpose loans, like mortgages or student loans, personal loans provide borrowers with more freedom to use the funds as they see fit. Interest rates on personal loans can vary based on the borrower's credit score and financial history.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                    <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'loan_list' name='Medical Debt' %}">Medical Debt</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">Medical debt refers to money owed for medical services and expenses not covered entirely by insurance. When individuals receive medical treatment or services, they may incur medical bills, which can lead to medical debt if the full amount is not covered by insurance or other means. Medical debt can cause financial strain, and many healthcare providers offer payment plans or financial assistance options to help individuals manage these obligations.</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                    <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'loan_list' name='Other Debt' %}">Other Debt</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">The term "other debt" is a general category that encompasses any debt or financial obligations that do not fall into the specific loan types mentioned above. It may include credit card debt, payday loans, auto loans, personal lines of credit, or any other form of borrowed funds with varying terms and conditions. It is essential to identify the specific type of debt within this category to understand its unique characteristics and repayment requirements.</p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}

