{% extends "index.html" %}
{% block content %}

<section id="row-grouping-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-title">Bill List</h4>
                    <li class="list-inline-item">
                        <div class="col-sm-40 offset-sm-20">
                            <a href="{% url 'bill_add' %}" class="btn btn-primary"><i
                                    class="fa fa-plus"></i> Add Bill</a>
                        </div>
                </div>
                <div class="card-datatable">
                    <table class="dt-row-grouping table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Date</th>
                            <th>Name</th>
                            <th>Currency</th>
                            <th>Minimum Amount</th>
                            <th>Maximum Amount</th>
                            <th>Notes</th>
                            <th>Last Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.id }}</th>
                            <td>{{ object.created_at }}</td>
                            <td>{{ object.name }}</td>
                            <td>{{ object.currency }}</td>
                            <td>{{ object.minimumamount }}</td>
                            <td>{{ object.maximumamount }}</td>
                            <td>{{ object.notes }}</td>
                            <td>{{ object.updated_at }}</td>
                            <td>
                                <!-- Call to action buttons -->
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <a href="{% url 'bill_update' pk=object.id %}"
                                           class="btn btn-success btn-sm rounded-0" type="button"
                                           data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                class="fa fa-edit"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'bill_delete' pk=object.id %}"
                                        class="btn btn-danger btn-sm rounded-0" type="button"
                                                data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                class="fa fa-trash"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--</ul>-->
<!--<h1>Bill list</h1>-->
<!--<ul>-->
<!--   {% for object in object_list %}-->
<!--   <li>{{object.name}}</li>-->
<!--    {% endfor %}-->

<!--</ul>-->
{% endblock content%}
