{% extends "index.html" %}
{% block content %}
<section id="row-grouping-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h4 class="card-title">Category List</h4>
                    <li class="list-inline-item">
                        <div class="col-sm-40 offset-sm-20">
                            <a href="{% url 'category_add' %}" class="btn btn-primary"><i
                                    class="fa fa-plus"></i> Add Category</a>
                        </div>
                        </h4>
                </div>
                <div class="card-datatable">
                    <table class="dt-row-grouping table">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Last Activity</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.id }}</th>
                            <td>{{ object.name }}</td>
                            <td>{{ object.updated_at }}</td>
                            <td>
                                <!-- Call to action buttons -->
                                <ul class="list-inline m-0">
                                    <li class="list-inline-item">
                                        <a href="{% url 'category_update' pk=object.id %}"
                                           class="btn btn-success btn-sm rounded-0"><i
                                                class="fa fa-edit"></i></a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="{% url 'category_delete' pk=object.id %}"
                                           class="btn btn-danger btn-sm rounded-0"><i
                                                class="fa fa-trash" data-toggle="tooltip" data-placement="top"
                                                title="Delete"></i></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--<li class="list-inline-item">-->
<!--    <div class="col-sm-9 offset-sm-3">-->
<!--        <a href="{% url 'category_add' %}" class="btn btn-outline-secondary">Add Category</a>-->
<!--    </div>-->
{% endblock content%}
