{% extends "index.html" %}
{% load static %}
{% load mathfilters %}
<!DOCTYPE html>
<head>
    {% block title %} Dashboard {% endblock title %}
</head>
<body>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Dashboard</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">Dashboard
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="row">
                    <div class="col-12">
                        <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                            <div class="card">
                                <div class="card-header" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                                    <span class="lead collapse-title"><i class="bg-light-info" data-feather="info"></i> Dashboard PageInfo</span>
                                </div>
                                <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna">
                                    <div class="card-body">
                                        Welcome to <strong>Personal Finance!</strong> On this page you get a quick overview of your finances. For more information, check out Accounts → <a href="{% url 'account_box' %}">Asset Accounts</a> and of course the <a href="{% url 'budgets' %}">Budgets</a>, <a href="{% url 'bill_list' %}">Bills</a> and <a href="{% url 'transaction_list' %}">Transactions pages</a>. Or just take a look around and see where you end up.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommere">
                    <div class="row match-height">
                        <!-- Statistics Card -->
                        <div class="col-12">
                            <div class="card card-statistics">
<!--                                <div class="card-header">-->
<!--                                    <h4 class="card-title">Statistics</h4>-->
<!--                                    <div class="d-flex align-items-center">-->
<!--                                        <p class="card-text font-small-2 mr-25 mb-0">Updated 1 month ago</p>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="card-body statistics-body">
                                    <div class="row">
                                        <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="avatar bg-light-success mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="dollar-sign" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0">
                                                        {% if total_account_balance %}
                                                        {% for key, value in total_account_balance.items %}
                                                            {{key}}{{value|floatformat:0}}
                                                            {% if forloop.counter == 2 %}
                                                                ,&nbsp;
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% else %}
                                                            0
                                                        {% endif %}
                                                    </h4>
                                                    <p class="card-text font-small-3 mb-0">Total Account Balance</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-6 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="avatar bg-light-danger mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="credit-card" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0">
                                                        {% if total_spent_amount %}
                                                        {% for key, value in total_spent_amount.items %}
                                                            {{key}}{{value|floatformat:0}}
                                                            {% if forloop.counter == 2 %}
                                                                ,&nbsp;
                                                            {% endif %}
                                                        {% endfor %}
                                                        {% else %}
                                                            $0
                                                        {% endif %}
                                                    </h4>
                                                    <p class="card-text font-small-3 mb-0">Total Spent Amount</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-4 col-sm-6 col-12">
                                            <div class="media">
                                                <div class="avatar bg-light-info mr-2">
                                                    <div class="avatar-content">
                                                        <i data-feather="trending-up" class="avatar-icon"></i>
                                                    </div>
                                                </div>
                                                <div class="media-body my-auto">
                                                    <h4 class="font-weight-bolder mb-0"><a href="{% url 'net_worth' %}">Net Worth</a></h4>
                                                    {% for key, value in net_worth_dict.items %}
                                                    <h5 class="font-weight-bolder mb-0">{{key}}{{value|floatformat:0}}</h5>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- Dashboard Ecommerce ends -->
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerce">
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <div class="col-xl-8 col-md-12 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-header border-bottom">
                                    <h5>Bank Accounts </h5>
                                    <a href="/accounts" class="btn btn-primary">Go to accounts</a>
                                </div>
                                <div class="card-body">
                                    <canvas class="macro-chart chartjs" data-height="450"></canvas>
                                </div>
                            </div>
                        </div>
                        <!--/ Medal Card -->
                        <a href="/budgets/current" class="col-xl-4 col-md-12 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Budgets Expenses</h5>
                                    <div id="budget-chart"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
                <section id="dashboard-ecommer">
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <a href="/budgets/current" class="col-xl-6 col-md-6 col-6">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Incomes</h5>
                                    <div id="income-chart"></div>
                                </div>
                            </div>
                        </a>
                        <a href="/bill_list" class="col-xl-6 col-md-12 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Bills Expenses</h5>
                                    <div id="bill-chart"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
                <!-- Dashboard Ecommerce ends -->
                <!-- Dashboard Ecommerce Starts -->
                <section id="dashboard-ecommerc">
                    <div class="row match-height">
                        <!-- Medal Card -->
                        <a href="/category_list" class="col-xl-12 col-md-12 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Category Groups Expenses</h5>
                                    <div id="column-chart"></div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>
                <!-- Dashboard Ecommerce ends -->
            </div>
        </div>
    </div>
    <!-- END: Content-->
{% endblock content %}
