<!DOCTYPE html>
<head>
    <title>HOME PAGE</title>
</head>
<body>

{% extends "index.html" %}
{% load static i18n %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ecommerce-application">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">{% trans 'HOME PAGE' %} </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section id="default-breadcrumb">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header">
                                    <p class="card-text"><strong style="font-size:18px;">{% trans "Personal Finance" %} </strong><small style="font-size:14px;"> Welcome to your one-stop solution for all things money-related! Our app is designed to help you understand, manage, and grow your finances, all in a user-friendly way. Whether you're looking to get a quick snapshot of your financial health, plan your spending, keep track of bills, or even save for your future dreams, we've got you covered. </small><small class="see_more_summary" style="display:None; font-size:14px;">  The app is laid out in easy-to-navigate boxes—each taking you to a specific feature like your Dashboard, Budget, Bills, and more. To start, simply click on any of the boxes to dive into the page you need. It's financial management made simple and effective, tailored just for you.   </small><small class="text-primary table-hover more_button" style="font-size:14px;">{% trans 'More..' %}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="stocks_grid_view" class="grid-view">
<!--                    <div class="card ecommerce-card">-->
<!--                        <div class="item-img text-center">-->
<!--                            <a href="">-->
<!--                                <img src="{% static 'images/dashboard.jpg' %}" class="img-fluid" alt="img-placeholder" />-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="card-body">-->
<!--                            <div class="item-name" style="text-align:center;">-->
<!--                                <a href="">DASHBOARD</a>-->
<!--                            </div>-->
<!--                            <div class="item-name">-->
<!--                                <p class="card-text">It shows a quick overview of your finance with attractive charts.Using charts you can check account transactions and also check spends for category, budgets and bills. </p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'budgets' %}">
                                <img src="{% static 'images/budget.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'budgets' %}">{% trans 'BUDGET' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">The Budget section is your financial planning assistant, offering a simple walkthrough to create, monitor, and compare multiple budgets. It allows you to not only set financial goals but also track your income and expenses to ensure you achieve them, making it an indispensable tool for financial health and discipline.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'bill_list' %}">
                                <img src="{% static 'images/bills.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'bill_list' %}">{% trans 'BILLS' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">Our Bills feature serves as a centralized ledger for all your fixed and variable expenses, from utilities to subscriptions. By providing a comprehensive view in both calendar and table formats, it helps you stay on top of due dates, ensuring you never miss a payment, while also suggesting opportunities to cut costs and save money.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'category_list' %}">
                                <img src="{% static 'images/category.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'category_list' %}">{% trans 'CATEGORY' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">The Category feature simplifies data organization by allowing you to classify budgets and transactions into various groups. By keeping your financial data neatly categorized, you'll find it easier to analyze spending patterns, identify opportunities for savings, and make better-informed decisions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'account_box' %}">
                                <img src="{% static 'images/account.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'account_box' %}">{% trans 'ACCOUNTS' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">Our Accounts section lets you track multiple financial accounts, including checking, savings, cash, credit cards, loans, and investments, in one place. Having all this information consolidated enables the app to provide more accurate net worth and financial forecasting calculations, offering you a more complete picture of your financial health.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'transaction_list' %}">
                                <img src="{% static 'images/transaction.jpeg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'transaction_list' %}">{% trans 'TRANSACTIONS' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">The Transactions feature is closely tied with your Budget section, enabling you to track individual expenses and incomes as they occur. By associating each transaction with a specific budget, you'll gain real-time insights into how well you're adhering to your financial goals, thereby allowing for timely adjustments.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'goal_list' %}">
                                <img src="{% static 'images/goals.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'goal_list' %}">{% trans 'GOALS' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">The Goals section allows you to specify and work toward long-term financial aspirations, like buying a home or going on a dream vacation. By setting and tracking these goals within the app, you can systematically save and allocate funds, making those seemingly daunting financial milestones more achievable.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'mortgagecalculator_list' %}">
                                <img src="{% static 'images/calculator.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'mortgagecalculator_list' %}">{% trans 'CALCULATORS' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">Our Calculators offer specialized tools like mortgage, net worth, and debt calculators to take the guesswork out of complex financial equations. Whether you're planning to buy a house or pay off loans, these calculators empower you with the knowledge you need to make smarter financial decisions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card ecommerce-card">
                        <div class="item-img text-center">
                            <a href="{% url 'real_estate_home' %}">
                                <img src="{% static 'images/real_estate.jpg' %}" class="img-fluid" alt="img-placeholder" />
                            </a>
                        </div>
                        <div class="card-body">
                            <div class="item-name" style="text-align:center;">
                                <a href="{% url 'real_estate_home' %}">{% trans 'REAL ESTATE' %}</a>
                            </div>
                            <div class="item-name">
                                <p class="card-text">{% trans 'It has property manage and property model sections.Property manage section useful to create property details, set rental terms and add tenants. Property model sections useful to analyse rental property investment summary, capital expenditure budget, yearly projection for revenue, expenses and income, investor contribution, mortgage.' %}</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}