{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Stock Portfolios & Holdings</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Stock Portfolios & Holdings</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <!-- PORTFOLIO TABS -->
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills">
                                {% for name in portfolio_list %}
                                    {% if name == my_portfolio_name %}
                                        <li class="nav-item">
                                            <a class="nav-link active">{{name}}</a>
                                        </li>
                                    {% else %}
                                        <li class="nav-item">
                                            <form id="form{{forloop.counter}}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="portfolio_name" id="portfolio_name" value="{{name}}">
                                                <a class="nav-link portfolio_show_form" form_id="form{{forloop.counter}}">{{name}}</a>
                                            </form>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                <!-- PORTFOLIO TABS -->
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-header border-bottom">
                            <a href="http://127.0.0.1:8003/my-portfolio/{{my_portfolio_name}}" title="click for more information about your portfolio" class="card-title mb-25">{{my_portfolio_name}} {% if "Portfolio" in my_portfolio_name %} {% else %} Portfolio {% endif %}Holdings</a>
                            <h4 style="float: middle;">Total Value :- {{total_portfolio_value}}</h4>
                            <h6 class="text-success mr-1 already_holds" style="float: right;{% if not check_networth %}display:None;{% endif %}"><i data-feather="check-circle"></i> Already Added in Networth</h6>
                            <a style="float: right;{% if not check_networth %}display:None;{% endif %}" portfolio_currency="{{my_portfolios_data.0.2}}" portfolio_value="{{total_portfolio_value}}" portfolio_name="{{my_portfolio_name}}" portfolio_id="{{portfolio_id}}" method_name="delete_port" class="btn btn-danger mr-1 add_portfolio_to_networth already_holds">Deleted from Net worth</a>
                            <a style="float: right;{% if check_networth %}display:None;{% endif %}" portfolio_currency="{{my_portfolios_data.0.2}}" method_name="add_port" portfolio_value="{{total_portfolio_value}}" portfolio_name="{{my_portfolio_name}}" portfolio_id="{{portfolio_id}}" class="btn btn-success mr-1 add_portfolio_to_networth">Add to Net worth</a>
                        </div>
                        <div class="card-body">
                            <div class="card-datatable">
                                <table class="table" id="my_port_table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Currency</th>
                                            <th>Price</th>
                                            <th>Change</th>
                                            <th>% Change</th>
                                            <th>Date</th>
                                            <th>Type</th>
                                            <th>Shares</th>
                                            <th>Cost</th>
                                            <th>Today's Gain</th>
                                            <th>Today's % Gain</th>
                                            <th>Total Change</th>
                                            <th>Total % Change</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for data in my_portfolios_data %}
                                        <tr>
                                            {% for i in data %}
                                            {% if forloop.counter == 1 %}
                                                <input type="hidden" name="product" id="product" value="{{i}}">
                                            {% else %}
                                                {% if forloop.counter == 2 %}
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <span class="font-weight-bolder mr-1">
                                                            {{data.0 }}
                                                        </span>
                                                    </div>
                                                </td>
                                                {% else %}
                                                    {% if forloop.counter == 3 or forloop.counter == 4 or forloop.counter == 7 or forloop.counter == 8 or forloop.counter == 9 or forloop.counter == 10 or forloop.counter == 15 or forloop.counter == 16 %}
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <span class="font-weight-bolder mr-1">{{i}}</span>
                                                            </div>
                                                        </td>
                                                    {% else %}
                                                        {% if i > 0 %}
                                                            {% if forloop.counter == 6 or forloop.counter == 12 or forloop.counter == 14 %}
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <span class="font-weight-bolder text-success mr-1">{{i}}%</span>
                                                                    <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                                                </div>
                                                            </td>
                                                            {% else %}
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="font-weight-bolder text-success mr-1">{{i}}</span>
                                                                        <i data-feather="trending-up" class="text-success font-medium-1"></i>
                                                                    </div>
                                                                </td>
                                                            {% endif %}
                                                        {% else %}
                                                            {% if forloop.counter == 6 or forloop.counter == 12 or forloop.counter == 14 %}
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="font-weight-bolder text-danger mr-1">{{i}}%</span>
                                                                        <i data-feather="trending-down" class="text-danger font-medium-1"></i>
                                                                    </div>
                                                                </td>
                                                            {% else %}
                                                                <td>
                                                                    <div class="d-flex align-items-center">
                                                                        <span class="font-weight-bolder text-danger mr-1">{{i}}</span>
                                                                        <i data-feather="trending-down" class="text-danger font-medium-1"></i>
                                                                    </div>
                                                                </td>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}