{% extends "index.html" %}
<!DOCTYPE html>
<head>
    {% block title %} Loan Details {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">{{account.name}} | {{account.account_type}}</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'loan_accounts_box' %}">Mortgages and Loans</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        {{account.name}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="row">
                    <div class="col-12">
                        <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                            <div class="card">
                                <div class="card-header" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                                    <span class="lead collapse-title"><i class="bg-light-info" data-feather="info"></i>Mortgages and Loans Page Info</span>
                                </div>
                                <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna">
                                    <div class="card-body">
                                        Mortgages and Loans accounts that have an outstanding balance you're currently paying off, and aren't spending from.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'loan_update' pk=account.id %}" class="btn btn-primary"><i
                    data-feather="edit-2"></i>&nbsp;Edit</a>
                    <button type="button" del_method="account_delete" delete_name="{{ object.name }} Account" url="{% url 'loan_delete' pk=account.id %}" class="btn btn-danger delete_button"><i
                                            data-feather="trash"></i>&nbsp;Delete</button>

                </div>
                <br/>
                 <section>
                    <div class="row">
                    <div class="col-12">
                        <div class="card card-statistics">
                            <div class="card-header">
                                <h2>{{account.name}} ({{account.account_type}})</h2>
                                <h4 class="font-weight-bolder mb-0" style="float:right;">Interest Rate :- {{account.interest_rate|floatformat:2}} %</h4>
                            </div>
                            <div class="card-body statistics-body">
                                <div class="row">
                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                        <div class="media">
                                            <div class="avatar bg-light-danger mr-2">
                                                <div class="avatar-content">
                                                    <i data-feather="dollar-sign" class="avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0">{{remaining_amount|floatformat:2}}</h4>
                                                <p class="card-text font-small-3 mb-0">Remaining Payment</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                        <div class="media">
                                            <div class="avatar bg-light-danger mr-2">
                                                <div class="avatar-content">
                                                    <i data-feather="dollar-sign" class="avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0">{{monthly_payment|floatformat:2}}</h4>
                                                <p class="card-text font-small-3 mb-0">Monthly Payment</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-xl-0">
                                        <div class="media">
                                            <div class="avatar bg-light-success mr-2">
                                                <div class="avatar-content">
                                                    <i data-feather="dollar-sign" class="avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0">{{total_payment|floatformat:2}}</h4>
                                                <p class="card-text font-small-3 mb-0">Total of {{days}} payments</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-sm-6 col-12 mb-2 mb-sm-0">
                                        <div class="media">
                                            <div class="avatar bg-light-info mr-2">
                                                <div class="avatar-content">
                                                    <i data-feather="calendar" class="avatar-icon"></i>
                                                </div>
                                            </div>
                                            <div class="media-body my-auto">
                                                <h4 class="font-weight-bolder mb-0">{{last_month}}</h4>
                                                <p class="card-text font-small-3 mb-0">Payoff date</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </section>
                <!-- Responsive Datatable -->
                <section class="app-user-edit">
					<div class="card">
						<div class="card-body">
							<ul class="nav nav-pills" role="tablist">
                                <li class="nav-item">
									<a class="nav-link d-flex align-items-center active" id="loan_graph_tab" data-toggle="tab" href="#loan_graph_data" aria-controls="loan_graph_data" role="tab" aria-selected="false">
										<span class="d-none d-sm-block">{{account.account_type}} Calculation Graph</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link d-flex align-items-center" id="loan_tab" data-toggle="tab" href="#loan_data" aria-controls="loan_data" role="tab" aria-selected="false">
										<span class="d-none d-sm-block">{{account.account_type}} Calculation Data</span>
									</a>
								</li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="loan_data" aria-labelledby="loan_tab" role="tabpanel">
                                <section id="responsive-data">
                                    <div class="row match-height">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="download_csv_form"></div>
                                                <div class="card-header border-bottom">
                                                    <h4 class="card-title">{{account.account_type}} Calculation</h4>
                                                    <button class="btn btn-primary download_csv" file_name="mortgage_calculation.csv" table_heading="{{mortgage_key_dumbs}}" table_length="{{mortgage_key | length}}" table_id="#mortgage" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                                                </div>
                                                <div class="card-datatable">
                                                    <table class="table table-striped" id="mortgage">
                                                        <thead>
                                                        <tr>
                                                            {% for name in mortgage_key %}
                                                                <th>{{name}}</th>
                                                            {% endfor %}
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <!-- jinja2 Technique -->
                                                        {% for i in data %}
                                                        <tr>
                                                            <td>{{i.month}}</td>
                                                            <td>{{i.initial_balance}}</td>
                                                            <td>{{i.payment}}</td>
                                                            <td>{{i.interest}}</td>
                                                            <td>{{i.principle}}</td>
                                                            <td>{{i.ending_balance}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="tab-pane active" id="loan_graph_data" aria-labelledby="loan_graph_tab" role="tabpanel">
                                <section id="responsiv-data">
                                    <div class="row match-height">
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div id="line-area-chart"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="responsive-datatable">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="download_csv_form"></div>
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">Transactions</h4>
                                    <button class="btn btn-primary download_csv" file_name="{{object.name}}_liability_transaction.csv" table_heading="{{transaction_key_dumbs}}" table_length="{{transaction_key | length}}" table_id="#transactions" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                                </div>
                                <div class="card-datatable">
                                        <table class="dt-row-grouping table" id="transactions">
                                        <thead>
                                        <tr>
                                            {% for name in transaction_key %}
                                            <th>{{name}}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for data in transaction_data %}
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{ forloop.counter }}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{data.transaction_date}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    {% if data.out_flow %}
                                                    <span class="font-weight-bolder text-danger mr-1">-{{data.account.currency}}{{data.amount}}</span>
                                                    {% else %}
                                                    <span class="font-weight-bolder text-success mr-1">+{{data.account.currency}}{{data.amount}}</span>
                                                    {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{data.payee}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{data.account.name}}</span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{data.categories}}</span>
                                                </div>
                                            </td>
                                            {% if data.bill.label %}
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{data.bill.label}}</span>
                                                </div>
                                            </td>
                                            {% else %}
                                             <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">-</span>
                                                </div>
                                            </td>
                                            {% endif %}
                                            {% if data.budgets.name %}
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">{{data.budgets.name}}</span>
                                                </div>
                                            </td>
                                            {% else %}
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">-</span>
                                                </div>
                                            </td>
                                            {% endif %}
                                            {% if data.cleared == True %}
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder text-success mr-1">
                                                        <input type="hidden" value="True" class="cleared{{forloop.counter}}">
                                                        <i class="fa fa-check" aria-hidden="true"></i>
                                                    </span>
                                                    </div>
                                                </td>
                                                {% else %}
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder text-danger mr-1">
                                                        <input type="hidden" value="False" class="cleared{{forloop.counter}}">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                    </span>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <span class="font-weight-bolder mr-1">
                                                        <ul class="list-inline m-0">
                                                            <li class="list-inline-item">
                                                                <a href="{% url 'transaction_update' pk=data.id %}"
                                                                   class="btn btn-success btn-sm rounded-0" type="button"
                                                                   data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                                        class="fa fa-edit"></i></a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <button type="button" delete_name="{{ data.payee }} Transaction" url="{% url 'transaction_delete' pk=data.id %}"
                                                                   class="btn btn-danger btn-sm rounded-0 delete_button"
                                                                   data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                        class="fa fa-trash"></i></button>
                                                            </li>
                                                        </ul>
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            </div>
        </div>
    </div>
{% endblock content %}


