{% extends "index.html" %}
{% load mathfilters %}
{% load static %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Property Detail</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'property_list' %}">Properties</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        {{property_obj.property_name}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <!-- Statistics Card -->
                        <div class="col-12">
                            <div class="card card-statistics">
                                <div class="card-body statistics-body">
                                    <div class="item-img text-center">
                                        <div class="card-body" style="padding-bottom:40px;">
                                            <div style="float: right;">
                                                <a href="{% url 'property_update' pk=property_obj.id method_name='property'%}" class="btn btn-primary"><i
                                                data-feather="edit-2"></i>&nbsp;Edit Property</a>
                                                <button type="button" delete_name="{{ property_obj.property_name }} Property" url="{% url 'property_delete' pk=property_obj.id %}" class="btn btn-danger delete_button"><i data-feather="trash"></i>&nbsp;Delete </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-sm-12 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="media-body my-auto">
                                                    <div class="item-img">
                                                        <a href="app-ecommerce-details.html">
                                                            <img src="{% if property_obj.property_image %}{{property_obj.property_image.url}}{% else %} {% static 'app-assets/images/property/property_image.jpeg' %}{% endif %}" alt="img-placeholder" height="50%" width="50%"/>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="media-body my-auto">
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <h2 class="font-weight-bolder mb-0">{{property_obj.property_name}}</h2>
                                                    <br/>
                                                    <p class="card-text font-small-3 mb-0"><i data-feather="map-pin" class="avatar-icon"></i> {{property_obj.address_line1}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="media-body my-auto">
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <h2 class="font-weight-bolder mb-0">{{currency_symbol}}{{property_obj.value}}</h2>
                                                    <br/>
                                                    <p class="card-text font-small-3 mb-0">Property Value</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="media-body my-auto">
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <h2 class="font-weight-bolder mb-0">{{currency_symbol}}{{property_obj.total_monthly_rent}}</h2>
                                                    <br/>
                                                    <p class="card-text font-small-3 mb-0">Total Monthly Rent</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-2 col-sm-3 col-12 mb-2 mb-xl-0">
                                            <div class="media">
                                                <div class="media-body my-auto">
                                                    <br/>
                                                    <br/>
                                                    <br/>
                                                    <h2 class="font-weight-bolder mb-0">{{property_obj.total_tenants}}</h2>
                                                    <br/>
                                                    <p class="card-text font-small-3 mb-0">Tenants/Owners</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <br/>
                <section class="app-user-edit">
                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills" role="tablist">
                                {% for data in unit_list %}
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center {% if forloop.counter == 1 %}active{% endif %}" id="{{data.unit_name}}_tab" data-toggle="tab" href="#{{data.name}}_data" aria-controls="{{data.name}}_data" role="tab" aria-selected="false">
                                        <span class="d-none d-sm-block">{{data.name | title}}</span>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="tab-content">
                        {% for data in unit_details %}
                        <div class="tab-pane {% if forloop.counter == 1 %}active{% endif %}" id="{{data.unit_name}}_data" aria-labelledby="{{data.unit_name}}_tab" role="tabpanel">
                            <section id="dashboard-analytics">
                                <div class="row match-height">
                                    <div class="col-lg-6 col-sm-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Lease</h3>
                                                <a href="{% url 'property_update' pk=data.id method_name='lease'%}" class="btn btn-primary"><i data-feather="edit-2"></i>&nbsp;Edit Lease</a>
                                            </div>
                                            <hr/>
                                            <div class="text-center">
                                                <h1 class="mb-1 text-white total_rental_amount">{{currency_symbol}}{{data.rent_amount}}</h1>
                                                <p class="card-text m-auto w-75">
                                                    Monthly Rent (Due on the {{data.rent_due_every_month}} of every month)
                                                </p>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Start</h4>
                                                            <p class="card-text term_name">{{data.rental_start_date}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">End</h4>
                                                            {% if data.rental_term == 'Month-to-Month' %}
                                                                        <p class="card-text rent_amount_month">M to M</p>
                                                            {% else %}
                                                                <p class="card-text rent_amount_month">{{data.rental_end_date}}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Lease Term</h4>
                                                            <p class="card-text rent_start_date">{{data.rental_term}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Days Remaining</h4>
                                                            {% if data.rental_term == 'Month-to-Month' %}
                                                                <p class="card-text rent_amount_month">M to M</p>
                                                            {% else %}
                                                                {% firstof data.rental_end_date|sub:today_date as my_variable %}
                                                                <p class="card-text rent_end_date">{{my_variable.split.0}}</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12"><hr/></div>
                                            </div>
                                        </div>
                                    </div>
                                    {% for key, value in collection_list.items %}
                                        {% if data.unit_name == key %}
                                        <div class="col-lg-6 col-sm-6 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Collection</h3>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Total Rent Collected</h4>
                                                            <p class="card-text">{{currency_symbol}}{{value.0}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Other Collected</h4>
                                                            <p class="card-text">{{currency_symbol}}{{value.1}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Total</h4>
                                                            <p class="card-text">{{currency_symbol}}{{value.2}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-sm-6 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Current Invoices</h4>
                                                            <p class="card-text">Invoice Id :- {{value.3}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12"><hr/></div>
                                                {% if value.4 %}
                                                <div class="col-xl-12 col-sm-12 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Past Due</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% for invoice_id in value.3 %}
                                                <div class="col-xl-2 col-sm-2 col-2">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <p class="card-text">{{invoice_id}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                        {% endif %}
                                    {% endfor %}
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <h3 class="card-title">Tenant</h3>
                                                <a href="{% url 'property_update' pk=data.id method_name='tenant'%}" class="btn btn-primary"><i data-feather="edit-2"></i>&nbsp;Edit Tenant</a>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-4 col-sm-4 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <div class="media align-items-center">
                                                            <div class="avatar avatar-xl mr-1">
                                                                <img src="{% static 'app-assets/images/portrait/small/avatar-s-11.jpg' %}" alt="Avatar" width="38" height="38" />
                                                            </div>
                                                            <div class="media-body">
                                                                <h6 class="mb-0">{{data.first_name}} {{data.last_name}}</h6>
                                                                <p class="mb-0">{{data.email}}</p>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Total Amount Paid</h4>
                                                            <p class="card-text term_name">{{currency_symbol}}{{data.rent_amount}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Tenant Since</h4>
                                                            <p class="card-text term_name">{{data.created_at.date}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Current Lease</h4>
                                                            <p class="card-text term_name">{{data.property_address.property_name}} | {{data.unit_name}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Monthly Rent</h4>
                                                            <p class="card-text term_name">{{currency_symbol}}{{data.rent_amount}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-4 col-sm-4 col-12">
                                                    <div class="card">
                                                        <div class="card-header flex-column align-items-start pb-0">
                                                            <h4 class="font-weight-bolder mt-1">Starts & Ends</h4>
                                                            <p class="card-text term_name">{{data.rental_start_date}} | {{data.rental_end_date}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-sm-12 col-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="card-header">
                                                    <h3 class="card-title">Maintenance</h3>
                                                    <a href="{% url 'property_maintenance_add' %}" class="btn btn-primary"><i data-feather="plus"></i>&nbsp;Add Maintenance</a>
                                                </div>
                                            </div>
                                            <div class="card-datatable">
                                                <table class="dt-row-grouping table" id="categories">
                                                    <thead>
                                                        <tr>
                                                            <th>Issue</th>
                                                            <th>Status</th>
                                                            <th>Reported On</th>
                                                            <th>Requested By</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for key, dict_data in maintenance_dict.items %}
                                                        {% if key == data.unit_name %}
                                                        {% for value in dict_data %}
                                                        <tr>
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <div class="avatar bg-light-warning mr-1">
                                                                        <div class="avatar-content">
                                                                            <i data-feather="tool" class="font-medium-3"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div>
                                                                        <div class="font-weight-bolder">{{value.name}}</div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex align-items-center">
                                                                    <div class="font-medium-4">
                                                                        {% if value.status == "Unresolved" %}
                                                                        <div class="badge badge-glow badge-danger">{{value.status}}</div>
                                                                        {% else %}
                                                                        <div class="badge badge-glow badge-success">{{value.status}}</div>
                                                                        {% endif %}
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>{{value.created_at.date}}</td>
                                                            <td>{{value.tenant_name}}</td>
                                                        </tr>
                                                        {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        {% endfor %}
                        {% for name in remaining_unit_list %}
                            <div class="tab-pane" id="{{name}}_data" aria-labelledby="{{name}}_tab" role="tabpanel">
                                <section id="dashboard-analytics">
                                    <div class="row match-height">
                                        <div class="col-lg-12 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header">
                                                    <a href="{% url 'add_lease' pk=property_obj.id unit_name=name %}" class="btn btn-primary"><i data-feather="plus"></i>&nbsp;Add Lease</a>
                                                </div>
                                                <hr/>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}


