{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Properties</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Properties
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'property_add' %}" class="btn btn-primary"><i
                            class="fa fa-plus"></i> Add Property</a>
                </div>
                <br/>
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title mb-25">Properties List</h4>
                                    </div>
                                    <div class="card-datatable">
                                        <table class="dt-row-grouping table" id="budgets">
                                            <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Name</th>
                                                <th>Value</th>
                                                <th>Last Updated</th>
                                                <th>Actions</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for object in object_list %}
                                            <tr>
                                                <th scope="row">{{ forloop.counter }}</th>
                                                <td>{{ object.name }}</td>
                                                <td>{{ object.currency }}{{ object.value }}</td>
                                                <td>{{ object.updated_at }}</td>
                                                <td>
                                                    <!-- Call to action buttons -->
                                                    <ul class="list-inline m-0">
                                                        <li class="list-inline-item">
                                                            <a href="{% url 'property_update' pk=object.id %}"
                                                               class="btn btn-success btn-sm rounded-0"><i
                                                                    class="fa fa-edit"></i></a>

                                                        </li>
                                                        <li class="list-inline-item">
                                                            <button type="button" delete_name="{{ object.name }} Property" url="{% url 'property_delete' pk=object.id %}"
                                                               class="btn btn-danger btn-sm rounded-0 delete_button"
                                                               data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                    class="fa fa-trash"></i></button>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}

