{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Categories</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Categories
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="row">
                    <div class="col-12">
                        <div class="collapse-margin collapse-icon mt-2" id="faq-payment-qna">
                            <div class="card">
                                <div class="card-header" id="paymentOne" data-toggle="collapse" role="button" data-target="#faq-payment-one" aria-expanded="false" aria-controls="faq-payment-one">
                                    <span class="lead collapse-title"><i class="bg-light-info" data-feather="info"></i> Category PageInfo</span>
                                </div>
                                <div id="faq-payment-one" class="collapse" aria-labelledby="paymentOne" data-parent="#faq-payment-qna">
                                    <div class="card-body">
                                        This page shows you all categories list and also shows how many amount spent on particular category using bar graph.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'category_add' %}" class="btn btn-primary"><i
                            class="fa fa-plus"></i> Add Category Group</a>
                </div>
                <br/>
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <div class="download_csv_form"></div>
                                    <div class="download_pdf_form"></div>
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title mb-25">CATEGORIES</h4>
                                        <div float="right">
                                        <button class="btn btn-primary download_csv" file_name="my_category.csv" table_heading="{{category_key_dumbs}}" table_length="{{category_key | length}}" table_id="#categories" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                                        <button class="btn btn-primary download_csv" pdf_title="Categories" file_name="my_categories.pdf" table_heading="{{category_key_dumbs}}" table_length="{{category_key | length}}" table_id="#categories" fun_name="download_pdf" url="/download/pdf">PdF<i data-feather="download" class="avatar-icon"></i></button>
                                        <input type="hidden" id="download_graph_data" data_label="{{categories_name_dumbs}}" graph_type="bar" data_value="{{categories_value}}">
                                        </div>
                                    </div>
                                    <div class="card-datatable">
                                        <table class="dt-row-grouping table category_table">
                                            <thead>
                                                <tr>
                                                    {% for name in category_key %}
                                                        <th>{{name}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for key, value in sub_category_data.items %}
                                                    <tr class="category" class_name="subcategory{{forloop.counter}}">
                                                        <td>
                                                            <a class="lead add_category" href="{% url 'subcategory_add' category_pk=value.2 %}" title="add category"><i class="bg-light-info" data-feather="plus"></i>&nbsp;</a><strong>{{key}}&nbsp;</strong>
                                                            <i class="fa fa-chevron-down subcategory{{forloop.counter}}_dropdown"></i><i class="fa fa-chevron-right subcategory{{forloop.counter}}_dropdown" style="display:None;"></i></td>
                                                        <td><strong>{{value.0}}</strong></td>
                                                        <td><strong>{{value.1}}</strong></td>
                                                        <td>
                                                            {% if key == 'Bills & Subscriptions' or key == 'Goals' or key == 'Funds' or key == 'Income' %}
                                                                <strong>&nbsp;</strong>
                                                            {% else %}
                                                                <div class="d-flex align-items-center">
                                                                <span class="font-weight-bolder mr-1">
                                                                    <ul class="list-inline m-0">
                                                                        <li class="list-inline-item">
                                                                            <a href="{% url 'category_update' pk=value.2 %}"
                                                                               class="btn btn-success btn-sm rounded-0"><i
                                                                                    class="fa fa-edit"></i></a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <button type="button" del_method="category_delete" delete_name="{{ key }} Category Group" url="{% url 'category_delete' pk=value.2 %}"
                                                                               class="btn btn-danger btn-sm rounded-0 delete_button"
                                                                               data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                                    class="fa fa-trash"></i></button>
                                                                        </li>
                                                                    </ul>
                                                                </span>
                                                            </div>
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                    {% for data in value.3 %}
                                                        <tr class="subcategory{{forloop.parentloop.counter}}">
                                                            <td>{{data.0}}</td>
                                                            <td>{{data.1}}</td>
                                                            <td>{{data.2}}</td>
                                                            <td>
                                                            <div class="d-flex align-items-center">
                                                                <span class="font-weight-bolder mr-1">
                                                                    <ul class="list-inline m-0">
                                                                        <li class="list-inline-item">
                                                                            <a href="{% url 'subcategory_update' pk=data.3 %}"
                                                                               class="btn btn-success btn-sm rounded-0"><i
                                                                                    class="fa fa-edit"></i></a>
                                                                        </li>
                                                                        <li class="list-inline-item">
                                                                            <button type="button" del_method="category_delete" delete_name="{{data.0}} Category" url="{% url 'subcategory_delete' pk=data.3 %}"
                                                                               class="btn btn-danger btn-sm rounded-0 delete_button"
                                                                               data-toggle="tooltip" data-placement="top" title="Delete"><i
                                                                                    class="fa fa-trash"></i></button>
                                                                        </li>
                                                                    </ul>
                                                                </span>
                                                            </div>
                                                        </td>
                                                        </tr>
                                                    {% endfor %}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="dashboard-ecommerce">
                    <div class="row match-height">
                        <div class="col-xl-12 col-md-12 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5>Category Groups Expenses</h5>
                                    <div id="column-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}

