{% extends "index.html" %}
<!DOCTYPE html>
<head>
    {% block title %} Category Add {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Add Category Group</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'category_list' %}">Category</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        Add Category Group
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section class="app-user-edit">
                    <div class="card" >
                        <div class="card-body">
                            <form class="form form-horizontal" method="post">
                                {% if form.errors %}
                                    {% for error in form.non_field_errors %}
                                        <p class="text-danger">{{error}}</p>
                                    {% endfor %}
                                {% endif %}
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <div class="col-sm-1 col-form-label">
                                                <label>
                                                    <i class="bg-light-info" data-feather="info" data-toggle="modal" data-target="#NameInfo"></i> 
                                                    Name
                                                </label>
                                            </div>
                                            <div class="col-sm-11">
                                                <div class="input-group input-group-merge">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i data-feather="user"></i></span>
                                                    </div>
                                                    {{form.name}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 offset-sm-1">
                                        <input type="submit" class="btn btn-primary mr-1" value="Save">
                                        <input type="submit" class="btn btn-primary mr-1" name="add_other" value="Save and add another">
                                        <a href="{% url 'category_list' %}" class="btn btn-outline-secondary">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header border-bottom">
                                    <h4 class="card-title">
                                        <i class="bg-light-info" data-feather="info" data-toggle="modal" data-target="#SuggestionsInfo"></i> 
                                        Suggestions</h4>
                                </div>
                                <br/>
                                <div class="card-body">
                                    <div class="row">
                                        {% for category in category_suggestions %}
                                        <a style="margin:5px; font-size: 12px;" class="btn btn-outline-secondary new_category">
                                            {{category}}&nbsp;<i class="fa fa-plus"></i>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
             <!-- Model -->
            <div class="modal fade" id="NameInfo" tabindex="-1" role="dialog" aria-labelledby="NameInfoModel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="NameInfoModel">Name Categories Description</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            This feature allows you to input the name of a new category you wish to create. Just type in the desired name in the blank space and hit 'Enter' to add it to your budget. This could be anything from 'Groceries' to 'Vacation Savings', giving you the power to track exactly what matters to you.                    </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="modal fade" id="SuggestionsInfo" tabindex="-1" role="dialog" aria-labelledby="SuggestionsInfoModel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="SuggestionsInfoModel">Suggestions Description</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Next to each category name, there's a '+' sign, which enables you to create subcategories. This feature is incredibly useful for breaking down larger categories into more manageable parts. For example, under 'Entertainment', you might have subcategories like 'Movies', 'Concerts', or 'Books'. This granular approach provides a more detailed and accurate view of your spending habits.
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
{% endblock content%}