{% extends "index.html" %}
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Edit Income</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'income_list' %}">Incomes</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        Edit Income
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <section class="app-user-edit">
                    <div class="card" >
                        <div class="card-body">
                    <form class="form form-horizontal" action="{% url 'income_edit' pk=income_data.id %}" method="post">
                        {% if error %}
                            <p class="text-danger">{{error}}</p>
                        {% endif %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="income_date">Income Date</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="user"></i></span>
                                            </div>
                                            <input type="text" id="income_date" value="{{ income_date }}" name="income_date" class="form-control flatpickr-basic"  placeholder="YYYY-MM-DD" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="email-icon">Amount</label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group input-group-merge">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i data-feather="mail"></i></span>
                                            </div>
                                            <input type="text" value="{{ income_data.income_amount }}" id="email-icon" class="form-control" name="amount" required
                                                   placeholder="Amount"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-sm-3 col-form-label">
                                        <label for="fname-icon">&nbsp;</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        {% if income_data.credited %}
                                            <input type="checkbox" name="credited" class="custom-control-input" id="customCheck2" checked/>
                                        {% else %}
                                            <input type="checkbox" name="credited" class="custom-control-input" id="customCheck2"/>
                                        {% endif %}
                                        <label class="custom-control-label" for="customCheck2">&nbsp;&nbsp;credited</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9 offset-sm-3">
                                <button type="submit" class="btn btn-primary mr-1">Edit</button>
                                <a href="{% url 'income_list' %}" class="btn btn-outline-secondary">Cancel</a>
                            </div>
                        </div>
                    </form>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock content%}