{% extends "index.html" %}
<!DOCTYPE html>
<head>
    {% block title %}Account Box{% endblock title  %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Accounts | Bank accounts</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">Accounts
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'account_add' %}" class="btn btn-primary"><i
                            class="fa fa-plus"></i> Add Account</a>
                    <button class="btn btn-success" id="link-button"><i
                            class="fa fa-plus" title="linked our account"></i> Link Account</button>
                </div>
                <br/>
                <section id="stocks_grid_view" class="grid-view">
                    <div class="content-body">
                        <div class="row match-height">
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'account_list' name='Savings' %}">Savings</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A savings account is a bank account specifically intended for the purpose of saving money. Unlike checking accounts, savings accounts usually offer higher interest rates, allowing the account holder to earn some return on their savings. These accounts are designed for long-term storage of funds and discourage frequent withdrawals to encourage saving habits. While they provide limited access to funds, savings accounts are considered safer than keeping large amounts of cash at home.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'account_list' name='Checking' %}">Checking</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A checking account is a type of bank account designed for everyday transactions and financial activities. It allows account holders to deposit money, write checks, make electronic transfers, and withdraw funds as needed. Typically, checking accounts do not offer high interest rates, but they provide easy access to funds through various means like debit cards, online banking, and ATMs. They are ideal for managing day-to-day expenses and handling regular bills.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'account_list' name='Cash' %}">Cash</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A cash account is a basic type of financial account used primarily for cash management purposes. It enables individuals and businesses to hold liquid assets, such as physical currency or easily accessible funds in a bank, to cover daily expenses and emergencies. Cash accounts usually do not earn interest, but they provide immediate access to money without any delays or restrictions.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'account_list' name='Credit Card' %}">Credit Card</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A credit card is a payment card issued by a financial institution that allows the cardholder to borrow funds to make purchases or withdraw cash up to a predetermined credit limit. Unlike debit cards linked to checking accounts, credit cards do not draw funds directly from the account; instead, the issuer extends a line of credit to the cardholder. Users are required to pay back the borrowed amount within a grace period to avoid interest charges. Credit cards offer convenience and flexibility in transactions but require responsible use to manage debts effectively.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="col-4">
                                <div class="card ecommerce-card">
                                <div class="card-body">
                                    <div class="item-name" style="text-align:center;">
                                        <h4><a href="{% url 'account_list' name='Line of Credit' %}">Line of Credit</a></h4>
                                    </div>
                                    <div class="item-name">
                                        <p class="card-text">A line of credit (LOC) is a flexible borrowing arrangement provided by a financial institution, allowing individuals or businesses to access funds up to a specified credit limit. Unlike traditional loans where borrowers receive a lump sum and pay it back over time, a line of credit permits multiple withdrawals and repayments as long as they do not exceed the set credit limit. Interest is charged only on the borrowed amount, and once repaid, the credit becomes available again for future use. Lines of credit are often used for managing fluctuating expenses or unexpected financial needs.</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}

