{% extends "index.html" %}
{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<head>
    {% block title %} Property Income List {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">INCOME</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">income
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="download_csv_form"></div>
                <div class="download_pdf_form"></div>
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'property_invoice_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> New Invoice</a>
                    <button style="float:right; margin-left:5px;" class="btn btn-primary download_csv" pdf_title="INCOME" file_name="my_income.pdf" table_heading="{{income_key_dumps}}" table_length="{{income_key | length}}" table_id="#property_table" fun_name="download_pdf" url="/download/pdf">PdF<i data-feather="download" class="avatar-icon"></i></button>
                    <button style="float:right;" class="btn btn-primary download_csv" file_name="my_income.csv" table_heading="{{income_key_dumps}}" table_length="{{income_key | length}}" table_id="#property_table" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                    <input type="hidden" id="download_graph_data" data_label="{{graph_label_dumps}}" graph_type="pie" data_value="{{graph_value_dumps}}" >
                </div>
                <br/>
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <!-- Company Table Card -->
                        <div class="col-lg-9 col-12">
                            <div class="card card-company-table">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="property_table">
                                            <thead>
                                                <tr>
                                                    {% for name in income_key %}
                                                        <th>{{name}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in income_obj %}
                                                <tr class="property_tr" property_detail_url="{% url 'property_invoice_list' property_name=data.1 unit_name=data.2 %}">
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="avatar bg-light-primary mr-1">
                                                                <div class="avatar-content">
                                                                    <i data-feather="home" class="font-medium-3"></i>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.1}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.2}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.0}}{{data.3}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.0}}{{data.4}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.0}}{{data.5}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <h5 class="text-center">TOTAL INVOICE AMOUNT<strong>( {{graph_currency}}{{graph_value.0|add:graph_value.1|add:graph_value.2|add:graph_value.3}} ) </strong></h5>
                                    <div id="income_pie_chart"></div>
                                    <div class="row">
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <div class="card-header flex-column align-items-start pb-0">
                                                    <h4 class="font-weight-bolder mt-1">Total Open Invoices</h4>
                                                    <p class="card-text" style="color:#ffe700">{{graph_currency}}{{graph_value.0}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <div class="card-header flex-column align-items-start pb-0">
                                                    <h4 class="font-weight-bolder mt-1">Overdue</h4>
                                                    <p class="card-text" style="color:#FF5733">{{graph_currency}}{{graph_value.1}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr/>
                                        </div>
                                        <div class="col-xl-12 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header flex-column align-items-start pb-0">
                                                    <h4 class="font-weight-bolder mt-1">Total Due Amount</h4>
                                                    <p class="card-text">{{graph_currency}}{{graph_value.0|add:graph_value.1}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr/>
                                        </div>
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <div class="card-header flex-column align-items-start pb-0">
                                                    <h4 class="font-weight-bolder mt-1">Partially Paid</h4>
                                                    <p class="card-text" style="color:#826bf8">{{graph_currency}}{{graph_value.2}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6 col-sm-6 col-12">
                                            <div class="card">
                                                <div class="card-header flex-column align-items-start pb-0">
                                                    <h4 class="font-weight-bolder mt-1">Fully Paid</h4>
                                                    <p class="card-text" style="color:#00d4bd">{{graph_currency}}{{graph_value.3}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <hr/>
                                        </div>

                                        <div class="col-xl-12 col-sm-12 col-12">
                                            <div class="card">
                                                <div class="card-header flex-column align-items-start pb-0">
                                                    <h4 class="font-weight-bolder mt-1">Total Paid Amount</h4>
                                                    <p class="card-text">{{graph_currency}}{{graph_value.2|add:graph_value.3}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Company Table Card -->
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}

