{% extends "index.html" %}
{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<head>
    {% block title %} Property Invoice List {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">INVOICES</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">invoices
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <div class="download_csv_form"></div>
                <div class="col-sm-40 offset-sm-20">
                    <a href="{% url 'property_invoice_add' %}" class="btn btn-primary"><i class="fa fa-plus"></i> New Invoice</a>
                    <button style="float: right;" class="btn btn-primary download_csv" file_name="{{property_name}}_{{unit_name}}_invoices.csv" table_heading="{{invoice_key_dumps}}" table_length="{{invoice_key | length}}" table_id="#property_table" fun_name="download_csv" url="/download/csv">CSV<i data-feather="download" class="avatar-icon"></i></button>
                </div>
                <br/>
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card card-congratulation-medal">
                                <div class="card-body">
                                    <div class="card-header border-bottom">
                                        <h4 class="card-title">
                                            <div class="avatar bg-light-primary mr-1">
                                                <div class="avatar-content">
                                                        <i data-feather="home" class="font-medium-3"></i>
                                                </div>
                                            </div>
                                            {{property_name}} | {{unit_name}}
                                        </h4>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover" id="property_table">
                                            <thead>
                                                <tr>
                                                    {% for name in invoice_key %}
                                                        <th>{{name}}</th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for data in invoice_details %}
                                                <tr class="property_tr" property_detail_url="{% url 'property_invoice_details' pk=data.id %}">
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.id}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.invoice_due_date}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.invoice_paid_date}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.property_details.currency}}{{data.item_amount}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.property_details.currency}}{{data.already_paid}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div>
                                                                <div class="font-weight-bolder">{{data.property_details.currency}}{{data.balance_due}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <div class="font-medium-4">
                                                                {% if data.invoice_status == "Fully Paid" %}
                                                                <div class="badge badge-glow badge-success">{{data.invoice_status}}</div>
                                                                {% endif %}
                                                                {% if data.invoice_status == "Partially Paid" %}
                                                                <div class="badge badge-glow badge-info">{{data.invoice_status}}</div>
                                                                {% endif %}
                                                                {% if data.invoice_status == "Unpaid" %}
                                                                <div class="badge badge-glow badge-warning">{{data.invoice_status}}</div>
                                                                {% endif %}
                                                                {% if data.invoice_status == "Overdue" %}
                                                                <div class="badge badge-glow badge-danger">{{data.invoice_status}}</div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ Company Table Card -->
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content%}

