{% extends "index.html" %}
{% load mathfilters %}
{% load static %}
<!DOCTYPE html>
<head>
    {% block title %} Property Invoice Add {% endblock title %}
</head>
{% block content %}
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-9 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h2 class="content-header-title float-left mb-0">Create New Invoice</h2>
                            <div class="breadcrumb-wrapper">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="">Invoices</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        New Invoice
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body" float="left">
                <section id="dashboard-ecommrc">
                    <div class="row match-height">
                        <!-- Statistics Card -->
                        <div class="col-12">
                            <div class="card card-statistics">
                                <div class="card-body statistics-body">
                                    <form action="{% url 'property_invoice_add' %}" method="post">
                                        {% csrf_token %}
                                    <section>
                                        <div class="row match-height">
                                        <div class="col-xl-8 col-md-6 col-12" id="page_name" name="Add">
                                            <div class="row">
                                            <div class="col-12">
                                                <h4 class="mb-1 mt-2">
                                                    <i data-feather="home" class="font-medium-4 mr-25"></i>
                                                    <span class="align-middle">Property Details</span>
                                                </h4>
                                            </div>
                                            <div class="col-lg-4 col-md-6">
                                                <div class="form-group">
                                                    <label for="property_name">PROPERTY</label>
                                                    <select class="form-control select_property" name="property_name" id="property_name" required>
                                                        <option>Select Property</option>
                                                        {% for data in property_list %}
                                                            <option value="{{data.id}}">{{data.property_name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 property_relate">
                                                <div class="form-group">
                                                    <label for="unit_options">UNIT</label>
                                                    <select class="form-control" name="unit_name" id="unit_options" required>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-6 property_relate">
                                                <div class="form-group">
                                                    <label for="tenant_n">TENANT</label>
                                                    <input type="text" id="tenant_n" class="form-control" name="tenant_name" required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </div>
                                    </section>
                                    <section class="invoice-edit-wrapper">
                                            <div class="row invoice-edit">
                                                <!-- Invoice Edit Left starts -->
                                                <div class="col-12">
                                                    <h4 class="mb-1 mt-2">
                                                        <i data-feather="credit-card" class="font-medium-4 mr-25"></i>
                                                        <span class="align-middle">Invoice Item Details</span>
                                                    </h4>
                                                </div>
                                                <div class="col-12">
                                                    <div class="card invoice-preview-card">
                                                        <div class="card-body">
                                                            <div class="form-group">
                                                                <label>Due on</label>
                                                                <input type="text" name="invoice_due_date" id="invoice_due_date" class="form-control flatpickr-basic" placeholder="YYYY-MM-DD" required>
                                                            </div>
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered" style="font-size:16px;">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th>Item</th>
                                                                            <th>Description</th>
                                                                            <th>Quantity</th>
                                                                            <th>Rate</th>
                                                                            <th>Amount</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <input  list="browsers" type="text" class="form-control" name="item_type" required data-validation-required-message="This field is required"/>
                                                                                    <datalist id="browsers" name="">
                                                                                        <option value="Rent" data-id="1">Rent</option>
                                                                                        <option value="Water" data-id="2">Water</option>
                                                                                        <option value="Late Fee Charge" data-id="3">Late Fee Charge</option>
                                                                                        <option value="Maintenance Request" data-id="4">Maintenance Request</option>
                                                                                        <option value="Parking" data-id="5">Parking</option>
                                                                                        <option value="Pet Deposit" data-id="6">Pet Deposit</option>
                                                                                        <option value="Pet Fee" data-id="7">Pet Fee</option>
                                                                                        <option value="Security Deposit" data-id="8">Security Deposit</option>
                                                                                    </datalist>
                                                                            </td>
                                                                            <td><input type="text" class="form-control" name="item_description"></td>
                                                                            <td><input type="number" class="form-control total_amount_event" value="0" id="quantity" name="quantity" required></td>
                                                                            <td><input type="number" class="form-control total_amount_event" value="0" id="item_amount" name="item_amount" required></td>
                                                                            <td>
                                                                                <span class="font-weight-bolder"><span class="currency_symbol"></span><span class="invoices-total-amount">0</span></span>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="card-body invoice-padding">
                                                            <div class="row invoice-sales-total-wrapper">
                                                                <div class="col-12 d-flex justify-content-end order-md-2 order-1" style="font-size:16px;">
                                                                    <div class="invoice-total-wrapper" style="max-width:20em">
                                                                        <div class="invoice-total-item">
                                                                            <p class="invoice-total-title">Total Due:</p>
                                                                            <p class="invoice-total-amount"><span class="currency_symbol"></span><span class="invoices-total-amount">0</span></p>
                                                                        </div>
                                                                        <div class="invoice-total-item">
                                                                            <p class="invoice-total-title">Already Paid:</p>
                                                                            <p class="invoice-total-amount"><input type="number" class="form-control invoices-paid-amount total_amount_event" value="0" id="already_paid" name="already_paid" required></p>
                                                                        </div>
                                                                        <hr class="my-50" />
                                                                        <div class="invoice-total-item">
                                                                            <p class="invoice-total-title">Remaining Balance:</p>
                                                                            <p class="invoice-total-amount"><span class="currency_symbol"></span><span class="invoices-remaining-amount">0</span></p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div style="float: right;">
                                                        <button type="submit" class="btn btn-primary">&nbsp;Create </button>
                                                        <a href="{% url 'property_income_list' %}" class="btn btn-danger">&nbsp;Cancel </a>
                                                    </div>
                                                </div>
                                            </div>
                                        <br/>
                                    </section>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock content %}


